flows_pi3two.json
[{"id":"b649d876.83b0a8","type":"tab","label":"bme280"},{"id":"5150f38.98b450c","type":"tab","label":"pi cpu temp"},{"id":"1ddf13d7.75aa7c","type":"tab","label":"emonTx"},{"id":"11fb55cc.40056a","type":"tab","label":"register device"},{"id":"4bc424e5.d54ccc","type":"tab","label":"register event"},{"id":"5cc50266.d8f4cc","type":"tab","label":"snmp old"},{"id":"808529ff.a7d9e8","type":"tab","label":"snmp"},{"id":"57c4efe4.41d82","type":"tab","label":"audio"},{"id":"c4f36caf.e6948","type":"tab","label":"test"},{"id":"1ca85043.0aadd","type":"tab","label":"ui weather"},{"id":"62fe77b3.0d8338","type":"tab","label":"Flow 1"},{"id":"d654dac8.bb9c38","type":"tab","label":"Flow 2"},{"id":"11a7a585.60122a","type":"tab","label":"scratch","disabled":false,"info":""},{"id":"cf01c82.351d938","type":"tab","label":"test chart","disabled":false,"info":""},{"id":"cebbdfd7.b6d0a","type":"tab","label":"Flow 4"},{"id":"b89dea47.aef4c8","type":"tab","label":"aircon example","disabled":true,"info":""},{"id":"924f12c9.93953","type":"mqtt-broker","z":"","broker":"192.168.1.131","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"587d6aaa.b437d4","type":"mongodb","z":"","hostname":"192.168.1.131","port":"27017","db":"power","name":"pi3one mongodb"},{"id":"92cf403c.6534f","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"95a00f4.f8f80f","type":"ui_tab","z":"","name":"register device","icon":"dashboard","order":5},{"id":"c7ec7afd.4fa698","type":"ui_group","z":"","name":"register device","tab":"95a00f4.f8f80f","disp":true,"width":"6"},{"id":"8334b822.989f18","type":"ui_tab","z":"","name":"register event","icon":"dashboard","order":4},{"id":"62cb25ab.08bcfc","type":"ui_group","z":"","name":"select device","tab":"8334b822.989f18","order":1,"disp":true,"width":"6"},{"id":"4468eaf6.7d6184","type":"ui_group","z":"","name":"select event","tab":"8334b822.989f18","order":2,"disp":true,"width":"6"},{"id":"f9c1bfb.2167f4","type":"mqtt-broker","z":"","broker":"192.168.1.131","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"3b435c82.cd7fc4","type":"ui_group","z":"","name":"power consumption","tab":"8334b822.989f18","order":4,"disp":true,"width":"6"},{"id":"cf8dc06e.87036","type":"ui_group","z":"","name":"status","tab":"8334b822.989f18","order":3,"disp":true,"width":"6"},{"id":"4ea43f6d.6b20c","type":"ui_group","z":"","name":"store event","tab":"8334b822.989f18","order":5,"disp":true,"width":"6"},{"id":"2c019bf8.251fd4","type":"ui_group","z":"","name":"event statistics","tab":"8334b822.989f18","order":6,"disp":true,"width":"6"},{"id":"843da6e1.a72e98","type":"ui_tab","z":"","name":"snmp","icon":"dashboard","order":3},{"id":"897094ec.21da98","type":"ui_group","z":"","name":"charts","tab":"843da6e1.a72e98","order":2,"disp":true,"width":"6"},{"id":"667e8828.bae858","type":"ui_group","z":"","name":"hrSystem","tab":"843da6e1.a72e98","order":1,"disp":true,"width":"6"},{"id":"924871a4.863e","type":"emoncms-server","z":"","server":"http://192.168.1.131/emoncms","name":"pi3one emoncms"},{"id":"d3d2e56a.b1a638","type":"ui_group","z":"","name":"audio","tab":"18d4cdeb.068d72","order":1,"disp":true,"width":"6"},{"id":"18d4cdeb.068d72","type":"ui_tab","z":"","name":"audio","icon":"dashboard","order":6},{"id":"8b70ed30.ca024","type":"ui_group","z":"","name":"emoncms chart","tab":"e075773.fc74488","order":2,"disp":true,"width":"12"},{"id":"e075773.fc74488","type":"ui_tab","z":"","name":"emoncms","icon":"dashboard","order":7},{"id":"6ecb274c.049768","type":"ui_group","z":"","name":"emoncms chart","tab":"f625bf7c.7c231","order":4,"disp":false,"width":"12"},{"id":"f625bf7c.7c231","type":"ui_tab","z":"","name":"test","icon":"dashboard","order":2},{"id":"94d55c76.0d97d","type":"ui_group","z":"","name":"chart category selector","tab":"f625bf7c.7c231","order":2,"disp":false,"width":"2"},{"id":"503161ea.c0303","type":"ui_group","z":"","name":"chart selector","tab":"f625bf7c.7c231","order":3,"disp":false,"width":"3"},{"id":"d4fb26de.13dfb8","type":"ui_group","z":"","name":"device selector","tab":"f625bf7c.7c231","order":1,"disp":false,"width":"1"},{"id":"57323b8c.4930d4","type":"ui_tab","z":"","name":"borsbeek","icon":"dashboard","order":1},{"id":"7afd5efb.14c1d","type":"ui_group","z":"","name":"borsbeek","tab":"57323b8c.4930d4","order":1,"disp":false,"width":"16"},{"id":"63f41244.6b4dcc","type":"ui_group","z":"62fe77b3.0d8338","name":"Test","tab":"ca9c606d.04f3f","disp":true,"width":"6"},{"id":"ca9c606d.04f3f","type":"ui_tab","z":"62fe77b3.0d8338","name":"Tableau","icon":"dashboard"},{"id":"4534c054.f6959","type":"ui_group","z":"","name":"Chart with integer X axis","tab":"91c478b4.b6fa88","order":1,"disp":true,"width":"12"},{"id":"91c478b4.b6fa88","type":"ui_tab","z":"","name":"Chart.js example","icon":"dashboard","order":2},{"id":"a6f897cb.32ac88","type":"sqlitedb","z":"","db":"/home/pi/sqlite/nodered_pi3two.db"},{"id":"29219b69.f281c4","type":"websocket-listener","z":"","path":"/ws/ip","wholemsg":"true"},{"id":"592b14e6.190aac","type":"ui_tab","z":"","name":"scratch","icon":"dashboard","order":10},{"id":"dd33242a.fe2ca8","type":"ui_group","z":"","name":"scratch_1","tab":"592b14e6.190aac","order":1,"disp":true,"width":"10"},{"id":"1b19926f.3267ce","type":"ui_group","z":"","name":"Charts","tab":"174bf19.d8f560e","order":2,"disp":false,"width":"6"},{"id":"c295f893.ac7348","type":"ui_group","z":"","name":"Inputs","tab":"174bf19.d8f560e","order":1,"disp":false,"width":"6"},{"id":"b2b687ea.a78a88","type":"ui_group","z":"","name":"Group 3","tab":"174bf19.d8f560e","order":3,"disp":false,"width":"6"},{"id":"174bf19.d8f560e","type":"ui_tab","z":"","name":"Charts","icon":"dashboard","order":2},{"id":"cc94cf1a.15efa","type":"ui_tab","z":"","name":"line chart","icon":"dashboard","order":12},{"id":"2e7e5f42.04104","type":"ui_group","z":"","name":"inputs","tab":"cc94cf1a.15efa","order":1,"disp":true,"width":"6"},{"id":"dfed6faf.8b4ab","type":"ui_group","z":"","name":"charts","tab":"cc94cf1a.15efa","order":2,"disp":true,"width":"6"},{"id":"efa50434.954ad8","type":"ui_tab","name":"Tab 13","icon":"dashboard","order":13},{"id":"f1577d10.1161c","type":"ui_group","z":"","name":"test 13","tab":"efa50434.954ad8","order":1,"disp":true,"width":"11"},{"id":"852c7742.def998","type":"exec","z":"b649d876.83b0a8","command":"raspberry-pi-bme280/bme280","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"bme280","x":211,"y":166.5,"wires":[["57b36df9.89fb24","d0626dbe.8cfad"],["f99bf90f.57cfa8"],["b006f3ef.dffb7"]]},{"id":"e1cc65dd.f1fab8","type":"inject","z":"b649d876.83b0a8","name":"every 5 minutes","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"x":150,"y":109,"wires":[["852c7742.def998"]]},{"id":"57b36df9.89fb24","type":"debug","z":"b649d876.83b0a8","name":"bme280 stdout","active":true,"console":"false","complete":"true","x":397,"y":106,"wires":[]},{"id":"f99bf90f.57cfa8","type":"debug","z":"b649d876.83b0a8","name":"bme280 stderr","active":true,"console":"false","complete":"true","x":400,"y":220,"wires":[]},{"id":"b006f3ef.dffb7","type":"debug","z":"b649d876.83b0a8","name":"bme280 return code","active":true,"console":"false","complete":"true","x":420,"y":260,"wires":[]},{"id":"d0626dbe.8cfad","type":"mqtt out","z":"b649d876.83b0a8","name":"mqtt bme280","topic":"bme280","qos":"","retain":"","broker":"924f12c9.93953","x":390,"y":152,"wires":[]},{"id":"be962867.7d4e78","type":"comment","z":"b649d876.83b0a8","name":"bme280 is a sensor measuring temperature, humidity and barometric pressure","info":"","x":306,"y":25,"wires":[]},{"id":"28cce695.46556a","type":"ui_text_input","z":"11fb55cc.40056a","name":"name","label":"name","group":"c7ec7afd.4fa698","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"name","x":408.1111145019531,"y":132.33332920074463,"wires":[["8f39667d.167308","ba24856d.8d0f98"]]},{"id":"a4f0ab2a.4332a8","type":"ui_text_input","z":"11fb55cc.40056a","name":"type","label":"type","group":"c7ec7afd.4fa698","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"type","x":410.1111145019531,"y":169.33332920074463,"wires":[["ceb8eba.440cc18","ba24856d.8d0f98"]]},{"id":"50c01500.37eebc","type":"ui_dropdown","z":"11fb55cc.40056a","name":"floor","label":"floor","group":"c7ec7afd.4fa698","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"basement","value":"basement","type":"str"},{"label":"ground","value":"ground","type":"str"},{"label":"first","value":"first","type":"str"},{"label":"second","value":"second","type":"str"}],"payload":"","topic":"floor","x":411.1111145019531,"y":239.33332920074463,"wires":[["14eb9721.d47879","2bd8df4a.a5393","ba24856d.8d0f98"]]},{"id":"8f39667d.167308","type":"debug","z":"11fb55cc.40056a","name":"device name","active":false,"console":"false","complete":"true","x":691.1111145019531,"y":129.33332920074463,"wires":[]},{"id":"ceb8eba.440cc18","type":"debug","z":"11fb55cc.40056a","name":"device type","active":false,"console":"false","complete":"true","x":696.1111145019531,"y":164.33332920074463,"wires":[]},{"id":"14eb9721.d47879","type":"debug","z":"11fb55cc.40056a","name":"device floor","active":false,"console":"false","complete":"true","x":699.1111145019531,"y":233.33332920074463,"wires":[]},{"id":"1f8f6d45.0b79a3","type":"ui_button","z":"11fb55cc.40056a","name":"register device","group":"c7ec7afd.4fa698","order":7,"width":0,"height":0,"label":"register","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":384.1111145019531,"y":419.33332920074463,"wires":[["54d3fdb.34b5104"]]},{"id":"70fd9b7b.806c34","type":"ui_dropdown","z":"11fb55cc.40056a","name":"","label":"room","group":"c7ec7afd.4fa698","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"room","x":413.1111145019531,"y":337.33332920074463,"wires":[["c69c2c6d.6281e","ba24856d.8d0f98"]]},{"id":"84e1d0fe.fc672","type":"ui_toast","z":"11fb55cc.40056a","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":686.1111145019531,"y":582.3333292007446,"wires":[[]]},{"id":"2bd8df4a.a5393","type":"function","z":"11fb55cc.40056a","name":"return rooms for floor","func":"switch(msg.payload){\n    case \"basement\":\n        msg.options = [ \"basement street\",\"basement garden\" ] ;\n        break;\n    case \"ground\":\n        msg.options = [ \"hall\", \"garage\",\"kitchen\",\"living\", \"toilet\"] ;\n        break;\n    case \"first\":\n        msg.options = [ \"aisle 1\",\"room parents\",\"room mirko\",\n                        \"bathroom 1\",\"bureau\"];\n        break;\n    case \"second\":\n        msg.options = [ \"aisle 2\",\"room jade\",\"room sterre\",\n                        \"bathroom 2\"];\n        break;\n    default:\n        msg.options = [ \"Specify a floor first\" ];\n}\n\nmsg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":401.1111145019531,"y":292.33332920074463,"wires":[["70fd9b7b.806c34"]]},{"id":"c9cd5bdb.ef9698","type":"comment","z":"11fb55cc.40056a","name":"register device tab","info":"","x":452.55554962158203,"y":20,"wires":[]},{"id":"ba24856d.8d0f98","type":"function","z":"11fb55cc.40056a","name":"store device_request info in flow context","func":"var device=flow.get('device_request')||{};\n\ndevice[msg.topic]=msg.payload;\n\nflow.set('device_request',device);\n\nmsg.payload = flow.get('device_request');\nreturn msg;","outputs":1,"noerr":0,"x":760.1111145019531,"y":300.33332920074463,"wires":[["1e4d65dc.acc11a"]]},{"id":"c69c2c6d.6281e","type":"debug","z":"11fb55cc.40056a","name":"device room","active":false,"console":"false","complete":"true","x":701.1111145019531,"y":339.33332920074463,"wires":[]},{"id":"1ddf6205.2c06de","type":"inject","z":"11fb55cc.40056a","name":"make it empty at start","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":175.11111450195312,"y":150.33332920074463,"wires":[["28cce695.46556a","a4f0ab2a.4332a8","d0d15202.2556e","5a72556b.c6bbcc"]]},{"id":"d0d15202.2556e","type":"ui_text_input","z":"11fb55cc.40056a","name":"","label":"description","group":"c7ec7afd.4fa698","order":3,"width":"4","height":"2","passthru":true,"mode":"text","delay":300,"topic":"description","x":392.1111145019531,"y":203.33332920074463,"wires":[["3e2ff467.5fd45c","ba24856d.8d0f98"]]},{"id":"3e2ff467.5fd45c","type":"debug","z":"11fb55cc.40056a","name":"device description","active":false,"console":"false","complete":"true","x":718.1111145019531,"y":198.33332920074463,"wires":[]},{"id":"f074633.8e866a","type":"ui_dropdown","z":"11fb55cc.40056a","name":"","label":"phase","group":"c7ec7afd.4fa698","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"1","value":"phase1","type":"str"},{"label":"2","value":"phase2","type":"str"},{"label":"3","value":"phase3","type":"str"},{"label":"unknown","value":"unknown","type":"str"}],"payload":"","topic":"phase","x":411.1111145019531,"y":374.33332920074463,"wires":[["1fe7b628.1bf18a","ba24856d.8d0f98"]]},{"id":"1fe7b628.1bf18a","type":"debug","z":"11fb55cc.40056a","name":"device phase","active":false,"console":"false","complete":"true","x":711.1111145019531,"y":378.33332920074463,"wires":[]},{"id":"1e4d65dc.acc11a","type":"debug","z":"11fb55cc.40056a","name":"msg_device flow context","active":false,"console":"false","complete":"true","x":792.1111145019531,"y":269.33332920074463,"wires":[]},{"id":"5a72556b.c6bbcc","type":"function","z":"11fb55cc.40056a","name":"reset device flow context","func":"flow.set('device_request',{});\nreturn msg;","outputs":1,"noerr":0,"x":153.11111450195312,"y":206.33332920074463,"wires":[[]]},{"id":"685d0ff8.6bb8f","type":"inject","z":"11fb55cc.40056a","name":"set unknown","topic":"","payload":"-1","payloadType":"num","repeat":"","crontab":"","once":true,"x":153.11111450195312,"y":372.33332920074463,"wires":[["f074633.8e866a"]]},{"id":"1488d388.a1dfbc","type":"function","z":"11fb55cc.40056a","name":"validate device request","func":"msg.payload=flow.get(\"device_request\");\n\n// check if floor is specified\nif ((! msg.payload.floor)    || \n    ( typeof msg.payload.floor === 'number') ||\n    (msg.payload.floor.length === 0)){\n    notificationMsg.payload=\"floor must be specified\";\n    return [ null, notificationMsg ] ;\n}\n\n// check if room is specified\nif ((! msg.payload.room)    ||\n    ( typeof msg.payload.room === 'number') ||\n    (msg.payload.room === \"\")){\n    notificationMsg.payload=\"room must be specified\";\n    return [ null, notificationMsg ] ;\n}\n\nreturn [ msg, null];","outputs":"2","noerr":0,"x":393.1111145019531,"y":528.3333292007446,"wires":[["c169bdcd.fa3ee","8b8229d5.53fb88"],["7ce77f54.bfd51","84e1d0fe.fc672"]]},{"id":"c169bdcd.fa3ee","type":"debug","z":"11fb55cc.40056a","name":"device request","active":true,"console":"false","complete":"payload","x":696.1111145019531,"y":507.33332920074463,"wires":[]},{"id":"308b7ab5.54c806","type":"inject","z":"11fb55cc.40056a","name":"ground","topic":"","payload":"ground","payloadType":"str","repeat":"","crontab":"","once":true,"x":138.11111450195312,"y":243.33332920074463,"wires":[["50c01500.37eebc"]]},{"id":"7ce77f54.bfd51","type":"debug","z":"11fb55cc.40056a","name":"notificationMsg","active":true,"console":"false","complete":"true","x":697.1111145019531,"y":540.3333292007446,"wires":[]},{"id":"54d3fdb.34b5104","type":"function","z":"11fb55cc.40056a","name":"validate device name","func":"var notificationMsg = {};\nmsg.payload = flow.get(\"device_request\").name;\n\n// check if name is specified\nif ((! msg.payload)           || \n    (msg.payload.length ===0) ||\n    (! msg.payload.trim())       ) {\n    notificationMsg.payload=\"name must be specified\";\n    return [ null, notificationMsg ] ;\n}\n\n\nreturn [ msg , null]","outputs":"2","noerr":0,"x":389.1111145019531,"y":461.33332920074463,"wires":[["726f2c29.62c764","1488d388.a1dfbc"],["84e1d0fe.fc672"]]},{"id":"726f2c29.62c764","type":"debug","z":"11fb55cc.40056a","name":"validated name","active":true,"console":"false","complete":"payload","x":695.1111145019531,"y":456.33332920074463,"wires":[]},{"id":"21cac5c3.81e88a","type":"mqtt in","z":"1ddf13d7.75aa7c","name":"emonTx","topic":"emonhub/rx/10/values","qos":"0","broker":"f9c1bfb.2167f4","x":124,"y":127,"wires":[["218ef3cd.c8e08c","4b6169ca.0594c8"]]},{"id":"4b6169ca.0594c8","type":"function","z":"1ddf13d7.75aa7c","name":"extract power and add timestamp","func":"var parts        = msg.payload.split(\",\");\nvar solar_power  = parseFloat(parts[3]);\nvar voltage      = parseFloat(parts[4]);\nvar CT1_power    = parseFloat(parts[0]);\nvar CT2_power    = parseFloat(parts[1]);\nvar CT3_power    = parseFloat(parts[2]);\nvar phase1_power = CT1_power + solar_power;\nvar phase2_power = - CT2_power;\nvar phase3_power = CT3_power;\nvar total_power  = phase1_power + phase2_power + phase3_power;\nmsg.payload = { \"timestamp\"    : Date.now(),\n                \"total_power\"  : total_power,\n                \"solar_power\"  : solar_power,\n                \"voltage\"      : voltage,\n                \"phase1_power\" : phase1_power,\n                \"phase2_power\" : phase2_power,\n                \"phase3_power\" : phase3_power\n};\nreturn msg;","outputs":1,"noerr":0,"x":376,"y":127,"wires":[["9c58dd47.7504e","8802080e.cd92c8"]]},{"id":"218ef3cd.c8e08c","type":"debug","z":"1ddf13d7.75aa7c","name":"","active":false,"console":"false","complete":"true","x":278,"y":76,"wires":[]},{"id":"9c58dd47.7504e","type":"debug","z":"1ddf13d7.75aa7c","name":"","active":false,"console":"false","complete":"true","x":599,"y":79,"wires":[]},{"id":"8802080e.cd92c8","type":"link out","z":"1ddf13d7.75aa7c","name":"emonTx","links":["2ce481b1.f8c75e"],"x":579,"y":126,"wires":[]},{"id":"ae18c1c8.52d6b","type":"comment","z":"4bc424e5.d54ccc","name":"register event","info":"## Flow Statuses\nThe flow status is stored in the flow context variable *status*.\nThe following table describes the different flow statuses.\n\nID |Status | Description\n-- |------ | -----------\n1 | *no_device_selected*    | No device is selected\n2 | *device_selected* | A device is selected\n3 | *button_pressed* | 'switch on' or 'switch off' button pressed.\n4 | *first_powerset* | first set of power data received after button_pressed\n5 | *second_powerset* | second set of power data received after button_pressed\n  |                   |\n\nStatus transitions are only possible from \n* 1 to 2, 2 to 3, 3 to 4, 4 to 5.\n* 2,3,4 to 1\n* 5 to 2 (see below)\n\nNote that the application will stay in status 5 (*second_powerset*) until the user has indicated he wants to store the event or not.\nOnce the user has indicated this the status will change back to status 2 (*device_selected*).\n\n## Event information\nThe event information is stored in the flow context variable *event*.\n\nThe following event information will be stored:\n* *device* : is the name of the device\n* *room* :is the room of the device\n* *type* : 'switch on' or 'switch off'\n* *time* : time when the 'switch on' or 'switch off'\n* *before_powerset* : the set of power data received just before the event\n* *first_powerset* : the set of power data received just after the event\n* *second_powerset* : the second set of power data received just after the event\n* *delta_phase1* :\n* *delta_phase2* :\n* *delta_phase3* :\n\n## Event Statistics\nThe following event statistics are calculated for the selected *device* - *room* combination:\n* for each event type:\n  * number of stored events\n  * for each phase\n    * average, min, max of *delta_phase*\n\n","x":170,"y":20,"wires":[]},{"id":"d8384616.bdedf8","type":"ui_dropdown","z":"4bc424e5.d54ccc","name":"floor","label":"floor","group":"62cb25ab.08bcfc","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"basement","value":"basement","type":"str"},{"label":"ground","value":"ground","type":"str"},{"label":"first","value":"first","type":"str"},{"label":"second","value":"second","type":"str"}],"payload":"","topic":"floor","x":261,"y":135,"wires":[["f95852bb.fa439","78820312.91d0cc"]]},{"id":"1ed765ee.97f34a","type":"ui_dropdown","z":"4bc424e5.d54ccc","name":"room","label":"room","place":"","group":"62cb25ab.08bcfc","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"room","x":262,"y":207,"wires":[["78820312.91d0cc","2f9ec7cb.b1c178"]]},{"id":"78820312.91d0cc","type":"function","z":"4bc424e5.d54ccc","name":"store in select_device","func":"var select_device=flow.get('select_device')||{};\n\nif (typeof msg.topic == 'string'){\n    if ((msg.payload.length===0) || (typeof msg.payload != 'string' ) ){\n        select_device[msg.topic] = 'not_specified';\n    } else {\n        select_device[msg.topic]=msg.payload;\n    }\n    flow.set('select_device',select_device);\n}\n\nmsg.payload = flow.get('select_device');\nreturn msg;","outputs":1,"noerr":0,"x":583,"y":201,"wires":[["da22419b.f98f7","a21575fd.b7aee8","8e58e821.337808"]]},{"id":"f95852bb.fa439","type":"function","z":"4bc424e5.d54ccc","name":"return rooms for floor","func":"switch(msg.payload){\n    case \"basement\":\n        msg.options = [ \"basement street\",\"basement garden\" ] ;\n        break;\n    case \"ground\":\n        msg.options = [ \"hall\", \"garage\",\"kitchen\",\"living\", \"toilet\"] ;\n        break;\n    case \"first\":\n        msg.options = [ \"aisle 1\",\"room parents\",\"room mirko\",\n                        \"bathroom 1\",\"bureau\"];\n        break;\n    case \"second\":\n        msg.options = [ \"aisle 2\",\"room jade\",\"room sterre\",\n                        \"bathroom 2\"];\n        break;\n    default:\n        msg.options = [ \"Specify a floor first\" ];\n}\n\nmsg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":271,"y":170,"wires":[["1ed765ee.97f34a"]]},{"id":"2a0e0a91.38adc6","type":"ui_dropdown","z":"4bc424e5.d54ccc","name":"device","label":"device","group":"62cb25ab.08bcfc","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"device","x":259,"y":374,"wires":[["78820312.91d0cc","abd4295f.ed39a8"]]},{"id":"54ef2b47.3efc14","type":"debug","z":"4bc424e5.d54ccc","name":"all devices in selected room","active":true,"console":"false","complete":"true","x":567,"y":289,"wires":[]},{"id":"fa134ad8.747d88","type":"debug","z":"4bc424e5.d54ccc","name":"sql select devices for room","active":true,"console":"false","complete":"true","x":566,"y":246,"wires":[]},{"id":"94c4e0df.60352","type":"function","z":"4bc424e5.d54ccc","name":"return device name list as msg.options","func":"msg.options = [];\nfor (var i=0; i < msg.payload.length; i++){\n    msg.options[i]=msg.payload[i].name;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":266,"y":336,"wires":[["2a0e0a91.38adc6"]]},{"id":"844d982f.e5d7c8","type":"comment","z":"4bc424e5.d54ccc","name":"select device","info":"The following **select_device** information will be stored in the flow context:\n\n* *floor*\n* *room* : the selected room.  If no room is specified then it will be *not_specified*\n* *device_name* : the selected device name.  If no device name is specified then it will be *not_specified*","x":252,"y":98,"wires":[]},{"id":"fbeaf1f7.b17ba","type":"comment","z":"4bc424e5.d54ccc","name":"specify event type","info":"","x":272,"y":422,"wires":[]},{"id":"c971f5a2.b72838","type":"ui_button","z":"4bc424e5.d54ccc","name":"switch on","group":"4468eaf6.7d6184","order":0,"width":"3","height":"1","label":"switch on","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"switch on","x":262,"y":459,"wires":[["c5680ee4.81dd5"]]},{"id":"5ae64317.9fcf7c","type":"ui_button","z":"4bc424e5.d54ccc","name":"switch off","group":"4468eaf6.7d6184","order":0,"width":"3","height":"1","label":"switch off","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"switch off","x":259,"y":499,"wires":[["c5680ee4.81dd5"]]},{"id":"cd2497d8.642548","type":"comment","z":"4bc424e5.d54ccc","name":"Live","info":"","x":257,"y":572,"wires":[]},{"id":"2ce481b1.f8c75e","type":"link in","z":"4bc424e5.d54ccc","name":"register event live power","links":["8802080e.cd92c8"],"x":129,"y":629,"wires":[["c4dd1887.6a0e88","e335d69a.af60c8"]]},{"id":"4e4089e0.8ab6c8","type":"ui_chart","z":"4bc424e5.d54ccc","name":"","group":"3b435c82.cd7fc4","order":0,"width":"6","height":"6","label":"power  [Watt]","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"3","removeOlderUnit":"60","cutout":0,"x":816.5555801391602,"y":681.6666393280029,"wires":[[],[]]},{"id":"c4dd1887.6a0e88","type":"function","z":"4bc424e5.d54ccc","name":"extract power 3 phases","func":"var msg_phase1 =  { topic: \"phase1\" , payload: msg.payload.phase1_power  };\nvar msg_phase2 =  { topic: \"phase2\" , payload: msg.payload.phase2_power  };\nvar msg_phase3 =  { topic: \"phase3\" , payload: msg.payload.phase3_power  };\n\nreturn [ msg_phase1, msg_phase2, msg_phase3 ];","outputs":"3","noerr":0,"x":317,"y":676,"wires":[["8dc95e3f.d63fc"],["8dc95e3f.d63fc"],["8dc95e3f.d63fc"]]},{"id":"c5680ee4.81dd5","type":"function","z":"4bc424e5.d54ccc","name":"update status and event info","func":"var status=flow.get(\"status\")||\"no_device_selected\";\n\nif ( status != \"device_selected\" ){\n    var notifMsg = {};\n    notifMsg.payload=\"status [=\"+ status + \"] and should be device_selected.\";\n    return [ null , notifMsg ];\n}\n\nvar event=flow.get('event')||{};\n\nevent.type=msg.topic;\nevent.time=Date.now();\nevent.before_powerset=flow.get(\"last_power\");\n\nflow.set('event',event);\nflow.set('status',\"button_pressed\");\n\nreturn [msg , null];","outputs":"2","noerr":0,"x":509,"y":460,"wires":[["30728df7.0fda02"],["9834d270.c4e2f"]]},{"id":"e335d69a.af60c8","type":"function","z":"4bc424e5.d54ccc","name":"process powerset","func":"// possible switch_states = idle, just_before_switch, switched, idle\n\nflow.set(\"last_power\",msg.payload);\n\nvar status=flow.get(\"status\")||\"no_device_selected\";\nvar event=flow.get('event')||{};\n    \nswitch(status) {\n    case \"button_pressed\" :\n            event.first_powerset=msg.payload;\n            flow.set('event',event);\n            flow.set('status','first_powerset');\n            msg.payload = event;\n            break;\n    case \"first_powerset\" :\n            event.second_powerset=msg.payload;\n            event.delta_phase1=event.second_powerset.phase1_power - event.before_powerset.phase1_power;\n            event.delta_phase2=event.second_powerset.phase2_power - event.before_powerset.phase2_power;\n            event.delta_phase3=event.second_powerset.phase3_power - event.before_powerset.phase3_power;\n            flow.set('event',event);\n            flow.set('status','second_powerset');\n            msg.payload = event;\n            break;\n    default:\n}\n    \n\nreturn msg;","outputs":"1","noerr":0,"x":454,"y":598,"wires":[["378c2e03.f39fe2","30728df7.0fda02"]]},{"id":"9834d270.c4e2f","type":"ui_toast","z":"4bc424e5.d54ccc","position":"dialog","displayTime":"3","outputs":1,"ok":"OK","cancel":"","topic":"","name":"notification message","x":908,"y":445,"wires":[[]]},{"id":"378c2e03.f39fe2","type":"debug","z":"4bc424e5.d54ccc","name":"","active":false,"console":"false","complete":"true","x":655,"y":598,"wires":[]},{"id":"bbe8cabe.cc8788","type":"ui_text","z":"4bc424e5.d54ccc","group":"cf8dc06e.87036","order":0,"width":0,"height":0,"name":"status","label":"status","format":"{{msg.payload}}","layout":"row-spread","x":1032,"y":527,"wires":[]},{"id":"30728df7.0fda02","type":"function","z":"4bc424e5.d54ccc","name":"get status","func":"msg.payload=flow.get(\"status\")||\"no_device_selected\";\nreturn msg;","outputs":1,"noerr":0,"x":756,"y":527,"wires":[["bbe8cabe.cc8788","f71e5339.4e96a","2178533b.5871cc","3b309d2a.1a7c82"]]},{"id":"da22419b.f98f7","type":"debug","z":"4bc424e5.d54ccc","name":"select_device","active":true,"console":"false","complete":"payload","x":644,"y":168,"wires":[]},{"id":"abd4295f.ed39a8","type":"debug","z":"4bc424e5.d54ccc","name":"device","active":true,"console":"false","complete":"true","x":491,"y":371,"wires":[]},{"id":"a21575fd.b7aee8","type":"function","z":"4bc424e5.d54ccc","name":"update event status","func":"var status=flow.get('status')||'no_device_selected';\n\nif (! ((status == 'no_device_selected') || (status === 'device_selected'))) {\n    msg.payload = \"Don't select a new device while still busy processing device event.\" +\n                  \" The newly selected device will be ignored until the processing of the \"+\n                  \"device event is completed.\";\n    return [ null, msg ];          \n}\n\nvar select_device=flow.get('select_device');\n\nif ( select_device.device != \"not_specified\"){\n    flow.set('status','device_selected');\n    var event = flow.get('event')||{};\n    event.room = select_device.room;\n    event.device = select_device.device;\n    flow.set('event',event);\n} else if (status == \"device_selected\"){\n    flow.set('status','no_device_selected');\n    flow.set('event',{});\n}\n\nreturn [msg , null];\n","outputs":"2","noerr":0,"x":856,"y":273,"wires":[["30728df7.0fda02"],["9834d270.c4e2f"]]},{"id":"a0fb142c.6e2878","type":"inject","z":"4bc424e5.d54ccc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":97,"y":536,"wires":[["5da4ef0e.beb1e"]]},{"id":"5da4ef0e.beb1e","type":"function","z":"4bc424e5.d54ccc","name":"resetting flow context","func":"flow.set('status','no_device_selected');\nflow.set('event',{});\nflow.set('select_device',{});\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":535,"wires":[["30728df7.0fda02"]]},{"id":"8dc95e3f.d63fc","type":"switch","z":"4bc424e5.d54ccc","name":"status != second_powerset","property":"status","propertyType":"flow","rules":[{"t":"neq","v":"second_powerset","vt":"str"}],"checkall":"true","outputs":1,"x":590,"y":676,"wires":[["4e4089e0.8ab6c8"]]},{"id":"8e58e821.337808","type":"debug","z":"4bc424e5.d54ccc","name":"msg.payload.device","active":true,"console":"false","complete":"payload.device","x":846,"y":199,"wires":[]},{"id":"cc845d74.1c637","type":"ui_text","z":"4bc424e5.d54ccc","group":"cf8dc06e.87036","order":0,"width":"6","height":"10","name":"event info","label":"event info","format":"<PRE>{{msg.payload | json : 2 }}</PRE>","layout":"col-center","x":1043,"y":573,"wires":[]},{"id":"f71e5339.4e96a","type":"function","z":"4bc424e5.d54ccc","name":"get flow event","func":"msg.payload=flow.get('event');\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":573,"wires":[["cc845d74.1c637"]]},{"id":"3bb78e93.d18952","type":"comment","z":"4bc424e5.d54ccc","name":"Status","info":"","x":1031,"y":492,"wires":[]},{"id":"e89657fd.d19dd8","type":"comment","z":"4bc424e5.d54ccc","name":"store event","info":"","x":271,"y":739,"wires":[]},{"id":"6cb30af2.486f04","type":"ui_button","z":"4bc424e5.d54ccc","name":"store event","group":"4ea43f6d.6b20c","order":0,"width":"3","height":"1","label":"store event","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"store event","x":274,"y":782,"wires":[["584863e5.e9191c"]]},{"id":"2196ff6b.530a9","type":"ui_button","z":"4bc424e5.d54ccc","name":"ignore event","group":"4ea43f6d.6b20c","order":0,"width":"3","height":"1","label":"ignore event","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"ignore event","x":276,"y":819,"wires":[["584863e5.e9191c"]]},{"id":"584863e5.e9191c","type":"function","z":"4bc424e5.d54ccc","name":"validate status and reset status/event info","func":"var status=flow.get(\"status\");\n\nif ( status != \"second_powerset\" ){\n    var notifMsg = {};\n    notifMsg.payload=\"status [=\"+ status + \"] and should be 'second_powerset'.\";\n    return [ null , notifMsg ];\n}\n\nmsg.payload=flow.get('event');\n\n// update status\nflow.set('status','no_device_selected');\n\n// cleanup event\nflow.set('event', {});\n\nreturn [msg , null];\n","outputs":"2","noerr":0,"x":553,"y":786,"wires":[["a21575fd.b7aee8","41efda73.9cfcc4","2d47396a.4ebc56","29bf2006.c85bb"],["9834d270.c4e2f"]]},{"id":"41efda73.9cfcc4","type":"switch","z":"4bc424e5.d54ccc","name":"msg.topic == store event","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"store event","vt":"str"}],"checkall":"true","outputs":1,"x":629.8889083862305,"y":942.2221984863281,"wires":[[]]},{"id":"a8ba849e.d30ce8","type":"comment","z":"4bc424e5.d54ccc","name":"event statistics","info":"","x":270.7777862548828,"y":926.2222194671631,"wires":[]},{"id":"272b7a92.27d496","type":"debug","z":"4bc424e5.d54ccc","name":"event list","active":true,"console":"false","complete":"true","x":531.6666488647461,"y":1027.4445533752441,"wires":[]},{"id":"a759fb52.354518","type":"inject","z":"4bc424e5.d54ccc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":72,"y":992,"wires":[["ba30758.a08b188"]]},{"id":"89085a0d.20f538","type":"debug","z":"4bc424e5.d54ccc","name":"query same device, room and type","active":true,"console":"false","complete":"true","x":658.7777786254883,"y":987.1111907958984,"wires":[]},{"id":"cc48b79e.792cb8","type":"function","z":"4bc424e5.d54ccc","name":"calculate statistics","func":"var count= msg.payload.length;\nvar current_event;\nvar type_count={\"switch on\" :0, \"switch off\" : 0};\nvar sum_phase1={\"switch on\" :0, \"switch off\" : 0};\nvar sum_phase2={\"switch on\" :0, \"switch off\" : 0};\nvar sum_phase3={\"switch on\" :0, \"switch off\" : 0};\nvar avg_phase1 = {\"switch on\" : \"NaN\", \"switch off\" : \"NaN\"};\nvar min_phase1 = {\"switch on\" : \"NaN\", \"switch off\" : \"NaN\"};\nvar max_phase1 = {\"switch on\" : \"NaN\", \"switch off\" : \"NaN\"};\nvar avg_phase2 = {\"switch on\" : \"NaN\", \"switch off\" : \"NaN\"};\nvar min_phase2 = {\"switch on\" : \"NaN\", \"switch off\" : \"NaN\"};\nvar max_phase2 = {\"switch on\" : \"NaN\", \"switch off\" : \"NaN\"};\nvar avg_phase3 = {\"switch on\" : \"NaN\", \"switch off\" : \"NaN\"};\nvar min_phase3 = {\"switch on\" : \"NaN\", \"switch off\" : \"NaN\"};\nvar max_phase3 = {\"switch on\" : \"NaN\", \"switch off\" : \"NaN\"};\n\n\nfor (i=0; i<count; i++){\n    current_event=msg.payload[i];\n    type=current_event.type;\n    type_count[type]++;\n    if (i===0){\n        min_phase1[type]=max_phase1[type]=current_event.delta_phase1;\n        min_phase2[type]=max_phase2[type]=current_event.delta_phase2;\n        min_phase3[type]=max_phase3[type]=current_event.delta_phase3;\n    } else {\n        min_phase1[type]=(min_phase1[type] < current_event.delta_phase1 ? min_phase1[type] : current_event.delta_phase1);\n        min_phase2[type]=(min_phase2[type] < current_event.delta_phase2 ? min_phase2[type] : current_event.delta_phase2);\n        min_phase3[type]=(min_phase3[type] < current_event.delta_phase3 ? min_phase3[type] : current_event.delta_phase3);\n        \n        max_phase1[type]=(max_phase1[type] > current_event.delta_phase1 ? max_phase1[type] : current_event.delta_phase1);\n        max_phase2[type]=(max_phase2[type] > current_event.delta_phase2 ? max_phase2[type] : current_event.delta_phase2);\n        max_phase3[type]=(max_phase3[type] > current_event.delta_phase3 ? max_phase3[type] : current_event.delta_phase3);\n    }\n    sum_phase1[type] += current_event.delta_phase1;\n    sum_phase2[type] += current_event.delta_phase2;\n    sum_phase3[type] += current_event.delta_phase3;   \n}\n\nif (type_count[\"switch on\"] !== 0){\n    avg_phase1[\"switch on\"] = (sum_phase1[\"switch on\"]/type_count[\"switch on\"]).toFixed(2);\n    avg_phase2[\"switch on\"] = (sum_phase2[\"switch on\"]/type_count[\"switch on\"]).toFixed(2);\n    avg_phase3[\"switch on\"] = (sum_phase3[\"switch on\"]/type_count[\"switch on\"]).toFixed(2); \n}\n\nif (type_count[\"switch off\"] !== 0){\n    avg_phase1[\"switch off\"] = (sum_phase1[\"switch off\"]/type_count[\"switch off\"]).toFixed(2);\n    avg_phase2[\"switch off\"] = (sum_phase2[\"switch off\"]/type_count[\"switch off\"]).toFixed(2);\n    avg_phase3[\"switch off\"] = (sum_phase3[\"switch off\"]/type_count[\"switch off\"]).toFixed(2); \n}\n\nif (count===0){\n    msg.payload={ \"count\": count };\n} else {\n    msg.payload={ \n        \"device\" : msg.payload[0].device,\n        \"room\"   : msg.payload[0].room,\n        \"count\"  : { \"total\" : count, \"switch on\" : type_count[\"switch on\"], \"switch off\" : type_count[\"switch off\"] },\n        \"delta_phase1\" : { \n            \"switch on\" : { \"avg\" : avg_phase1[\"switch on\"] , \"min\" : min_phase1[\"switch on\"] , \"max\" : max_phase1[\"switch on\"] } ,\n            \"switch off\": { \"avg\" : avg_phase1[\"switch off\"], \"min\" : min_phase1[\"switch off\"], \"max\" : max_phase1[\"switch off\"] } },\n        \"delta_phase2\" : { \n            \"switch on\" : { \"avg\" : avg_phase2[\"switch on\"] , \"min\" : min_phase2[\"switch on\"] , \"max\" : max_phase2[\"switch on\"] } ,\n            \"switch off\": { \"avg\" : avg_phase2[\"switch off\"], \"min\" : min_phase2[\"switch off\"], \"max\" : max_phase2[\"switch off\"] } },\n        \"delta_phase3\" : { \n            \"switch on\" : { \"avg\" : avg_phase3[\"switch on\"] , \"min\" : min_phase3[\"switch on\"] , \"max\" : max_phase3[\"switch on\"] } ,\n            \"switch off\": { \"avg\" : avg_phase3[\"switch off\"], \"min\" : min_phase3[\"switch off\"], \"max\" : max_phase3[\"switch off\"] } }\n    };\n}\nreturn msg;","outputs":1,"noerr":0,"x":324.2222137451172,"y":1098.9999618530273,"wires":[["42e6c980.45b0b8","2c77a567.9a8cfa"]]},{"id":"42e6c980.45b0b8","type":"debug","z":"4bc424e5.d54ccc","name":"event statistics","active":false,"console":"false","complete":"payload","x":536,"y":1089,"wires":[]},{"id":"2c77a567.9a8cfa","type":"ui_text","z":"4bc424e5.d54ccc","group":"2c019bf8.251fd4","order":0,"width":"4","height":"14","name":"event statistics","label":"event statistics","format":"<PRE>{{msg.payload | json : 2 }}</PRE>","layout":"col-center","x":548.7777900695801,"y":1148.0000457763672,"wires":[]},{"id":"a373dfa0.52eb5","type":"inject","z":"4bc424e5.d54ccc","name":"","topic":"","payload":"ground","payloadType":"str","repeat":"","crontab":"","once":true,"x":91,"y":135,"wires":[["d8384616.bdedf8"]]},{"id":"2178533b.5871cc","type":"switch","z":"4bc424e5.d54ccc","name":"status=device_selected","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"device_selected","vt":"str"}],"checkall":"true","outputs":1,"x":903,"y":612,"wires":[["ba30758.a08b188"]]},{"id":"3b309d2a.1a7c82","type":"switch","z":"4bc424e5.d54ccc","name":"status = no_device_selected","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"no_device_selected","vt":"str"}],"checkall":"true","outputs":1,"x":911,"y":646,"wires":[["475c6ca6.4ccbf4"]]},{"id":"475c6ca6.4ccbf4","type":"function","z":"4bc424e5.d54ccc","name":"msg.payload={}","func":"msg.payload={}\nreturn msg;","outputs":1,"noerr":0,"x":321.5555725097656,"y":1148.9999904632568,"wires":[["2c77a567.9a8cfa"]]},{"id":"7c0cef13.4d123","type":"snmp","z":"5cc50266.d8f4cc","host":"192.168.1.132","community":"public","version":"2c","oids":"\n","name":"","x":623,"y":435,"wires":[["11b87a86.820425","bdb5a6a7.b5af68"]]},{"id":"214e686c.1c4728","type":"inject","z":"5cc50266.d8f4cc","name":"every 5 minutes","topic":"","payload":"true","payloadType":"flow","repeat":"300","crontab":"","once":false,"x":125,"y":198,"wires":[["e4a0a165.d51db","8dc3008c.c73de","58718e9.130447","c53fe6aa.73ab68","2a97e149.e5168e","365f7aaa.c720f6"]]},{"id":"11b87a86.820425","type":"debug","z":"5cc50266.d8f4cc","name":"","active":false,"console":"false","complete":"true","x":777,"y":435,"wires":[]},{"id":"1351e091.928d3f","type":"snmp subtree","z":"5cc50266.d8f4cc","host":"127.0.0.1","community":"public","version":"1","oids":"1.3.6.1.4.1.2021.4.6.0","name":"","x":450,"y":978,"wires":[["977fe48c.b7cbb8"]]},{"id":"f19c4ca2.37da4","type":"inject","z":"5cc50266.d8f4cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":185,"y":1072,"wires":[["4efa092d.1f6ac8"]]},{"id":"977fe48c.b7cbb8","type":"debug","z":"5cc50266.d8f4cc","name":"","active":true,"console":"false","complete":"false","x":673,"y":985,"wires":[]},{"id":"4efa092d.1f6ac8","type":"snmp walker","z":"5cc50266.d8f4cc","host":"192.168.1.132","community":"public","version":"1","oids":"1.3.6.1.4.1.2021.11.9.0","name":"","x":465,"y":1074,"wires":[["977fe48c.b7cbb8"]]},{"id":"e4a0a165.d51db","type":"function","z":"5cc50266.d8f4cc","name":"get OID from snmp context","func":"var snmp=flow.get(\"snmp\")||-1;\nvar separator=\"\";\nmsg.oid=\"\";\n\nif (snmp===-1){\n    return { payload: \"not initialized\" };\n}\n\n\nfor (var key in snmp) {\n  if (snmp.hasOwnProperty(key)) {\n      msg.oid=msg.oid+separator+key;    // snmp[key];\n      separator=\",\";\n  }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":359,"y":410,"wires":[["7c0cef13.4d123","79d148db.2bef68"]]},{"id":"b73a7dc.319a98","type":"inject","z":"5cc50266.d8f4cc","name":"init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":98,"y":20,"wires":[["124203cb.ed19cc"]]},{"id":"124203cb.ed19cc","type":"function","z":"5cc50266.d8f4cc","name":"initialise snmp context","func":"// for more information about the actual metric see http://oid-info.com\n\nflow.set(\"snmp\",\n         {  \"1.3.6.1.4.1.2021.10.1.3.2\" :  \"cpu_5min_load\",\n            \"1.3.6.1.4.1.2021.4.5.0\" :     \"mem_total_ram_in_machine\",\n            \"1.3.6.1.4.1.2021.4.6.0\" :     \"mem_total_ram_used\",\n            \"1.3.6.1.4.1.2021.4.11.0\":     \"mem_total_ram_free\",\n            \"1.3.6.1.4.1.2021.4.13.0\":     \"mem_total_ram_shared\",\n            \"1.3.6.1.4.1.2021.4.14.0\":     \"mem_total_ram_buffered\",\n            \"1.3.6.1.4.1.2021.4.15.0\":     \"mem_total_cached_memory\"\n         });\n         \nflow.set(\"snmp2\",\n          { \"1.3.6.1.2.1.25.1.1.0\" : \"hrSystemUptime\" , // expressed in 1/100 sec\n            \"1.3.6.1.2.1.25.1.2.0\" : \"hrSystemDate\"     // Syntax: DateAndTime\n          });        \n\nmsg.payload = flow.get(\"snmp\");\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":20,"wires":[["280014c3.83c79c"]]},{"id":"280014c3.83c79c","type":"debug","z":"5cc50266.d8f4cc","name":"snmp context","active":false,"console":"false","complete":"payload","x":537,"y":20,"wires":[]},{"id":"79d148db.2bef68","type":"debug","z":"5cc50266.d8f4cc","name":"","active":false,"console":"false","complete":"oid","x":584,"y":400,"wires":[]},{"id":"e0283e59.b3caa","type":"function","z":"5cc50266.d8f4cc","name":"oid2txt","func":"var snmp = flow.get(\"snmp\");\n\nmsg.topic=snmp[msg.payload.oid];\n\nmsg.payload=msg.payload.value;\n\nreturn msg;","outputs":1,"noerr":0,"x":582,"y":546,"wires":[["f35baee.7ce1d5","521803b7.ffe9ec"]]},{"id":"bdb5a6a7.b5af68","type":"split","z":"5cc50266.d8f4cc","name":"","splt":"\\n","x":600,"y":493,"wires":[["e8615342.bc83e","e0283e59.b3caa"]]},{"id":"e8615342.bc83e","type":"debug","z":"5cc50266.d8f4cc","name":"msg part","active":false,"console":"false","complete":"true","x":776,"y":493,"wires":[]},{"id":"f35baee.7ce1d5","type":"debug","z":"5cc50266.d8f4cc","name":"","active":false,"console":"false","complete":"true","x":743,"y":546,"wires":[]},{"id":"521803b7.ffe9ec","type":"switch","z":"5cc50266.d8f4cc","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"cpu_5min_load","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":587,"y":597,"wires":[["3dbf7fa5.4558f"],["f9e0d7cb.1e3258"]]},{"id":"3dbf7fa5.4558f","type":"ui_chart","z":"5cc50266.d8f4cc","name":"CPU load","group":"897094ec.21da98","order":1,"width":"6","height":"4","label":"CPU load","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"0","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":759,"y":582,"wires":[[],[]]},{"id":"f9e0d7cb.1e3258","type":"ui_chart","z":"5cc50266.d8f4cc","name":"MEM usage","group":"897094ec.21da98","order":2,"width":"6","height":"8","label":"MEM usage","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"x":764,"y":619,"wires":[[],[]]},{"id":"c2063860.676758","type":"inject","z":"808529ff.a7d9e8","name":"every 5 minutes","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"x":128.00004196166992,"y":669.7618732452393,"wires":[[]]},{"id":"3568e60d.0244ba","type":"debug","z":"808529ff.a7d9e8","name":"snmp pi3two","active":false,"console":"false","complete":"true","x":545.1429138183594,"y":783.6189708709717,"wires":[]},{"id":"d6984447.9a12e8","type":"snmp","z":"5cc50266.d8f4cc","host":"127.0.0.1","community":"public","version":"1","oids":"","name":"","x":571,"y":880,"wires":[["7951ce9a.fd53c"]]},{"id":"ca3dd283.6b2fb","type":"inject","z":"5cc50266.d8f4cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":873,"wires":[["d5194186.9e056"]]},{"id":"7951ce9a.fd53c","type":"debug","z":"5cc50266.d8f4cc","name":"","active":false,"console":"false","complete":"true","x":757,"y":885,"wires":[]},{"id":"d5194186.9e056","type":"function","z":"5cc50266.d8f4cc","name":"get OID from snmp context","func":"var snmp=flow.get(\"snmp2\")||-1;\nvar separator=\"\";\nmsg.oid=\"\";\n\nif (snmp===-1){\n    return { payload: \"not initialized\" };\n}\n\n\nfor (var key in snmp) {\n  if (snmp.hasOwnProperty(key)) {\n      msg.oid=msg.oid+separator+key;    // snmp[key];\n      separator=\",\";\n  }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":918,"wires":[["d6984447.9a12e8"]]},{"id":"8dc3008c.c73de","type":"snmp","z":"5cc50266.d8f4cc","host":"192.168.1.132","community":"public","version":"2c","oids":"1.3.6.1.2.1.25.1.1.0","name":"hrSystemUptime localhost","x":382,"y":99,"wires":[["65a8548e.61171c","badf0c7b.d96db"]]},{"id":"65a8548e.61171c","type":"debug","z":"5cc50266.d8f4cc","name":"hrSystemUptime","active":false,"console":"false","complete":"true","x":420,"y":68,"wires":[]},{"id":"5743e64f.ba1b28","type":"ui_text","z":"5cc50266.d8f4cc","group":"667e8828.bae858","order":1,"width":0,"height":0,"name":"hrSystemUptime","label":"Uptime","format":"{{msg.payload}}","layout":"row-spread","x":978,"y":100,"wires":[]},{"id":"badf0c7b.d96db","type":"function","z":"5cc50266.d8f4cc","name":"uptime to days HH:MM:SS format","func":"var uptime_in_centisec = msg.payload[0].value;\n\n\n// http://stackoverflow.com/questions/37096367/how-to-convert-seconds-to-minutes-and-hours-in-javascript\nd = Number(uptime_in_centisec/100);\nvar days = Math.floor(d / (3600*24));\nvar h = Math.floor(d / 3600 % 24);\nvar m = Math.floor(d % 3600 / 60);\nvar s = Math.floor(d % 3600 % 60);\n\nvar daysDisplay = days > 0 ? days + (days == 1 ? \" day \" : \" days \") : \"\";\nvar hDisplay = h > 9 ? h : \"0\" + h;\nvar mDisplay = m > 9 ? m : \"0\" + m;\nvar sDisplay = s > 9 ? s : \"0\" + s;\n\nmsg.payload = daysDisplay + hDisplay + \":\" + mDisplay + \":\" + sDisplay;\nreturn msg;","outputs":1,"noerr":0,"x":698,"y":100,"wires":[["5743e64f.ba1b28","6101973a.8b1868"]]},{"id":"6101973a.8b1868","type":"debug","z":"5cc50266.d8f4cc","name":"formatted uptime","active":false,"console":"false","complete":"payload","x":768,"y":69,"wires":[]},{"id":"58718e9.130447","type":"snmp","z":"5cc50266.d8f4cc","host":"192.168.1.132","community":"public","version":"2c","oids":"1.3.6.1.2.1.25.1.5.0","name":"hrSystemNumUsers","x":365,"y":157,"wires":[["cf14e3fd.d7222","38c0f93c.208eb6"]]},{"id":"cf14e3fd.d7222","type":"ui_text","z":"5cc50266.d8f4cc","group":"667e8828.bae858","order":0,"width":0,"height":0,"name":"hrSystemNumUsers","label":"NumUsers","format":"{{msg.payload[0].value}}","layout":"row-spread","x":985,"y":156,"wires":[]},{"id":"38c0f93c.208eb6","type":"debug","z":"5cc50266.d8f4cc","name":"hrSystemNumUsers","active":false,"console":"false","complete":"payload","x":419,"y":127,"wires":[]},{"id":"c53fe6aa.73ab68","type":"snmp","z":"5cc50266.d8f4cc","host":"192.168.1.132","community":"public","version":"2c","oids":"1.3.6.1.2.1.25.1.6.0","name":"hrSystemProcesses","x":367,"y":216,"wires":[["bdfacd99.7a578","8ebcc37d.1f65a"]]},{"id":"bdfacd99.7a578","type":"debug","z":"5cc50266.d8f4cc","name":"hrSystemProcesses","active":false,"console":"false","complete":"payload","x":415,"y":187,"wires":[]},{"id":"8ebcc37d.1f65a","type":"ui_text","z":"5cc50266.d8f4cc","group":"667e8828.bae858","order":0,"width":0,"height":0,"name":"hrSystemProcesses","label":"Processes","format":"{{msg.payload[0].value}}","layout":"row-spread","x":980,"y":216,"wires":[]},{"id":"2a97e149.e5168e","type":"snmp","z":"5cc50266.d8f4cc","host":"192.168.1.132","community":"public","version":"2c","oids":"1.3.6.1.2.1.25.1.7.0","name":"hrSystemMaxProcesses ","x":364,"y":275,"wires":[["ea77f7f6.f4baf8","47e560b.76c97a"]]},{"id":"ea77f7f6.f4baf8","type":"debug","z":"5cc50266.d8f4cc","name":"hrSystemMaxProcesses ","active":true,"console":"false","complete":"payload","x":426,"y":246,"wires":[]},{"id":"47e560b.76c97a","type":"ui_text","z":"5cc50266.d8f4cc","group":"667e8828.bae858","order":0,"width":0,"height":0,"name":"hrSystemMaxProcesses ","label":"MaxProcesses","format":"{{msg.payload[0].value}}","layout":"row-spread","x":991,"y":267,"wires":[]},{"id":"365f7aaa.c720f6","type":"snmp","z":"5cc50266.d8f4cc","host":"192.168.1.132","community":"public","version":"2c","oids":"1.3.6.1.2.1.25.3.3.1.2.196608,1.3.6.1.2.1.25.3.3.1.2.196609,1.3.6.1.2.1.25.3.3.1.2.196610,1.3.6.1.2.1.25.3.3.1.2.196611","name":"hrProcessorLoad","x":348,"y":349,"wires":[["a948fbaa.b4d108","aa7203d.7ce56"]]},{"id":"a948fbaa.b4d108","type":"debug","z":"5cc50266.d8f4cc","name":"hrProcessorLoad","active":true,"console":"false","complete":"payload","x":392,"y":318,"wires":[]},{"id":"aa7203d.7ce56","type":"split","z":"5cc50266.d8f4cc","name":"","splt":"","x":554,"y":349,"wires":[["e0333bf2.054cf8","12cc03e4.224abc"]]},{"id":"e0333bf2.054cf8","type":"debug","z":"5cc50266.d8f4cc","name":"","active":false,"console":"false","complete":"true","x":604,"y":318,"wires":[]},{"id":"12cc03e4.224abc","type":"function","z":"5cc50266.d8f4cc","name":"add topic","func":"// 1.3.6.1.2.1.25.3.3.1.2.196608,1.3.6.1.2.1.25.3.3.1.2.196609,1.3.6.1.2.1.25.3.3.1.2.196610,1.3.6.1.2.1.25.3.3.1.2.196611\n\nswitch(msg.payload.oid) {\n    case \"1.3.6.1.2.1.25.3.3.1.2.196608\" :\n        msg.topic = \"cpu_1\";\n        break;\n    case \"1.3.6.1.2.1.25.3.3.1.2.196609\" :\n        msg.topic = \"cpu_2\";\n        break;\n    case \"1.3.6.1.2.1.25.3.3.1.2.196610\" :\n        msg.topic = \"cpu_3\";\n        break;\n    case \"1.3.6.1.2.1.25.3.3.1.2.196611\" :\n        msg.topic = \"cpu_4\";\n        break;\n    default:\n}\n\nmsg.payload=msg.payload.value;\n\nreturn msg;","outputs":1,"noerr":0,"x":702,"y":352,"wires":[["f018ebcc.128c28","f3cfbe34.c2edf"]]},{"id":"f018ebcc.128c28","type":"debug","z":"5cc50266.d8f4cc","name":"","active":true,"console":"false","complete":"true","x":775,"y":321,"wires":[]},{"id":"f3cfbe34.c2edf","type":"ui_chart","z":"5cc50266.d8f4cc","name":"ProcessorLoad","group":"667e8828.bae858","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":964,"y":351,"wires":[[],[]]},{"id":"2b1ac52e.749c4a","type":"snmp table","z":"5cc50266.d8f4cc","host":"192.168.1.132","community":"public","version":"2c","oids":"1.3.6.1.2.1.25.4.2","name":"","x":337,"y":637,"wires":[["1579796d.37cce7"]]},{"id":"50677a10.bd7954","type":"inject","z":"5cc50266.d8f4cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":118,"y":636,"wires":[["2b1ac52e.749c4a"]]},{"id":"1579796d.37cce7","type":"debug","z":"5cc50266.d8f4cc","name":"","active":true,"console":"false","complete":"true","x":545,"y":637,"wires":[]},{"id":"3f3d578a.91acd8","type":"inject","z":"808529ff.a7d9e8","name":"init (repeat 5 minutes)","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"x":162,"y":68,"wires":[["e674d880.3b5438"]]},{"id":"e674d880.3b5438","type":"function","z":"808529ff.a7d9e8","name":"initialise static_configuration","func":"// for more information about the actual metric see http://oid-info.com\nflow.set(\"static_configuration\",\n    { \n      \"general\" : \n         {  \n        // this table specifies all the general counters that will be monitored.\n        // the key is the name of the general counter (FYI this corresponds to the name specified in http://oid-info.com)\n        // the following values can be specified for each counter:\n        //    - \"OID\" : the actual OID for this counter - this is mandatory.\n        //    - \"convert\" : this is optional.  \n        //          In case \"cs_to_percentage\" is specified:\n        //                - instead of directly returning this counter (unit = cs = ticks or centi seconds) into field with counter name = key\n        //                  it will convert the cs (centi seconds) into an average percentage since last time reported\n        //                  and return this into a counter with the name specified in \"outname\"\n        //          In case \"do not output\" is specified: the counter will not be outputted.\n        //    - \"outname\" : this is optional and is only relevant in case \"convert\" = \"cs_to_percentage\"\n        // see also http://www.net-snmp.org/docs/mibs/ucdavis.html\n            \"hrSystemUptime\"    : { \"OID\": \"1.3.6.1.2.1.25.1.1.0\" } ,\n            \"hrSystemProcesses\" : { \"OID\": \"1.3.6.1.2.1.25.1.6.0\" } ,\n            \"hrSystemNumUsers\"  : { \"OID\": \"1.3.6.1.2.1.25.1.5.0\" } ,\n            \n            // The 5 minute load average as an integer. This is computed by taking the floating point\n             // loadaverage value and multiplying by 100, then converting the value to an integer.\n            \"laLoadInt5min\"     : { \"OID\": \"1.3.6.1.4.1.2021.10.1.5.2\" } ,\n            // The number of 'ticks' (typically 1/100s) spent idle.\n            // On a multi-processor system, the 'ssCpuRaw*' counters are cumulative over all CPUs, \n            // so their sum will typically be N*100 (for N processors).\n            \"ssCpuRawIdle\"    : { \"OID\": \"1.3.6.1.4.1.2021.11.53.0\",  \"convert\" : \"cs_to_percentage\", \"outname\" : \"CpuIdle\"} ,\n            //The number of 'ticks' (typically 1/100s) spent processing user-level code.\n            // On a multi-processor system, the 'ssCpuRaw*' counters are cumulative over all CPUs, so their\n            // sum will typically be N*100 (for N processors).\n            \"ssCpuRawUser\"    : { \"OID\": \"1.3.6.1.4.1.2021.11.50.0\", \"convert\"  : \"cs_to_percentage\", \"outname\" : \"CpuUser\" } ,\n            // The number of 'ticks' (typically 1/100s) spent processing reduced-priority code.\n            \"ssCpuRawNice\"    : { \"OID\": \"1.3.6.1.4.1.2021.11.51.0\", \"convert\"  : \"cs_to_percentage\", \"outname\" : \"CpuNice\" } ,\n            // The number of 'ticks' (typically 1/100s) spent processing system-level code.\n            // This object may sometimes be implemented as the combination of the 'ssCpuRawWait(54)' and\n            // 'ssCpuRawKernel(55)' counters, so care must be taken when summing the overall raw counters.\n            \"ssCpuRawSystem\"  : { \"OID\": \"1.3.6.1.4.1.2021.11.52.0\",  \"convert\" : \"cs_to_percentage\", \"outname\" : \"CpuSystem\"} ,\n            // The number of 'ticks' (typically 1/100s) spent waiting for IO.\n            // On a multi-processor system, the 'ssCpuRaw*' counters are cumulative over all CPUs, \n            // so their sum will typically be N*100 (for N processors).\n            \"ssCpuRawWait\"   : { \"OID\": \"1.3.6.1.4.1.2021.11.54.0\", \"convert\" : \"cs_to_percentage\", \"outname\" :  \"CpuWait\" } ,\n            \n        // Note that allthough the below memory counters are not outputted they are used to calculate\n        // MemFree_plusBuffersAndCache_MB and SwapFree_MB which are outputted !!\n            // The total amount of real/physical memory installed on this host.\n            //  \"Mem/total\" of free command\n            \"memTotalReal\" : { \"OID\" : \"1.3.6.1.4.1.2021.4.5.0\", \"convert\" : \"do not output\" } ,\n            // The amount of real/physical memory currently unused or available.\n            //  \"Mem/free\" of free command\n            \"memAvailReal\" : { \"OID\" : \"1.3.6.1.4.1.2021.4.6.0\", \"convert\" : \"do not output\" },\n            // The total amount of real or virtual memory currently allocated for use as shared memory.\n            // \"Mem/shared of free command\n            \"memShared\" : { \"OID\" : \"1.3.6.1.4.1.2021.4.13.0\", \"convert\" : \"do not output\" },\n            // The total amount of real or virtual memory currently allocated for use as memory buffers.\n            // \"Mem/buffers\" of free command\n            \"memBuffer\"  : { \"OID\" :\"1.3.6.1.4.1.2021.4.14.0\", \"convert\" : \"do not output\" },    \n            // The total amount of real or virtual memory currently allocated for use as cached memory.\n            // \"Mem/cached\" of free command\n            \"memCached\" : { \"OID\" : \"1.3.6.1.4.1.2021.4.15.0\", \"convert\" : \"do not output\" },\n            // The total amount of swap space configured for this host.\n            // \"Swap/total\" of free command\n            \"memTotalSwap\" : { \"OID\" : \"1.3.6.1.4.1.2021.4.3.0\", \"convert\" : \"do not output\" },\n            // The amount of swap space currently unused or available.\n            // \"Swap/free\" of free command\n            \"memAvailSwap\" : { \"OID\" : \"1.3.6.1.4.1.2021.4.4.0\", \"convert\" : \"do not output\"}\n        },\n        // table specific parameters\n        \n        // dskTable : OID = 1.3.6.1.4.1.2021.9\n        //       for each of the disks specified in the table below the available free disk space will be reported in MB (megabytes)\n        //       The output counter will have name with suffix _MB\n        // The \"host\" parameter is mandatory and should be \"*\" or the name of the respective host as specified in msg.host\n        // In case \"*\" is specified we will monitor this for all hosts, otherwise only for the host specified.\n        \"dskTable\" : { \n            \"dskAvail_sdcard\"   : { \"dskPath(2)\" : \"/\"                , \"host\" : \"*\" },\n            \"dskAvail_wd1tb\"    : { \"dskPath(2)\" : \"/mnt/wd1tb_media\" , \"host\" : \"pi3one\" },\n            \"dskAvail_china1tb\" : { \"dskPath(2)\" : \"/mnt/china1tb\"    , \"host\" : \"pi3one\" }\n        },\n        // hrSWRunTable : OID = 1.3.6.1.2.1.25.4.2\n        \"hrSWRunTable\" : {\n            \"P_node-red\"    :  { \"hrSWRunName(2)\" : \"node-red\"  , \"hrSWRunParams(5)\": \"*\"                          , \"host\"   : \"*\" },\n            \"P_mongod\"      :  { \"hrSWRunName(2)\" : \"mongod\"    , \"hrSWRunParams(5)\": \"*\"                          , \"host\"   : \"*\" },\n            \"P_python\"      :  { \"hrSWRunName(2)\" : \"python\"    , \"hrSWRunParams(5)\": \"*\"                          , \"host\"   : \"pi3one\" },\n            \"P_google_ok\"   :  { \"hrSWRunName(2)\" : \"python\"    , \"hrSWRunParams(5)\": \"-u google_assistant_jan.py\" , \"host\"   : \"pi3three\" },\n            \"P_cloudspeech\" :  { \"hrSWRunName(2)\" : \"python\"    , \"hrSWRunParams(5)\": \"-u cloudspeech_jan.py\"      , \"host\"   : \"pi3three\" },\n            \"P_kodi\"        :  { \"hrSWRunName(2)\" : \"kodi.bin\"  , \"hrSWRunParams(5)\": \"*\"                          , \"host\"   : \"pi3two\" },\n            \"P_mysqld\"      :  { \"hrSWRunName(2)\" : \"mysqld\"    , \"hrSWRunParams(5)\": \"*\"                          , \"host\"   : \"pi3one\" },\n            \"P_snmpd\"       :  { \"hrSWRunName(2)\" : \"snmpd\"     , \"hrSWRunParams(5)\": \"*\"                          , \"host\"   : \"*\" },\n            \"P_ffmpeg\"      :  { \"hrSWRunName(2)\" : \"ffmpeg\"    , \"hrSWRunParams(5)\": \"*\"                          , \"host\"   : \"pi3one\" }\n        },\n        // ifTable : OID = 1.3.6.1.2.1.2.2.1\n        \"ifTable\" : {\n            \"eth0\"  :  { \"ifDescr(2)\"  : \"eth0\"  , \"host\" : \"*\" },\n            \"wlan0\" :  { \"ifDescr(2)\"  : \"wlan0\" , \"host\" : \"*\" }\n        }\n    });\n\n\nmsg.payload = flow.get(\"static_configuration\");\nreturn msg;","outputs":1,"noerr":0,"x":482,"y":68,"wires":[["490470c8.4db5d","5c122db7.489254","b35ec56e.3bed38","149a40ad.6e6c3f"]]},{"id":"490470c8.4db5d","type":"debug","z":"808529ff.a7d9e8","name":"static_configuration","active":false,"console":"false","complete":"payload","x":788,"y":71,"wires":[]},{"id":"b3bafa41.8f0018","type":"debug","z":"808529ff.a7d9e8","name":"","active":false,"console":"false","complete":"true","x":891.0000419616699,"y":665.7618732452393,"wires":[]},{"id":"19c96975.794007","type":"snmp","z":"808529ff.a7d9e8","host":"192.168.1.132","community":"public","version":"2c","oids":"","name":"snmp pi3two","x":344.71430587768555,"y":781.0476293563843,"wires":[["3568e60d.0244ba","4a368aa2.aa7364"]]},{"id":"d98fde65.13d82","type":"debug","z":"808529ff.a7d9e8","name":"oid2txt","active":false,"console":"false","complete":"true","x":707.0000419616699,"y":901.7618732452393,"wires":[]},{"id":"d35f0e90.cd9c","type":"function","z":"808529ff.a7d9e8","name":"oid2txt","func":"var OID2name=flow.get(msg.host).OID2name;\n\nif (OID2name.hasOwnProperty(msg.payload.oid)){\n    msg.txt=OID2name[msg.payload.oid];\n} \nmsg.payload = msg.payload.value;\n\nreturn msg;","outputs":1,"noerr":0,"x":539.0000419616699,"y":903.7618732452393,"wires":[["d98fde65.13d82","37c7cc74.7ea0c4"]]},{"id":"4a368aa2.aa7364","type":"split","z":"808529ff.a7d9e8","name":"","splt":"\\n","x":539.0000419616699,"y":859.7618732452393,"wires":[["7acaa14.73ff06","d35f0e90.cd9c"]]},{"id":"7acaa14.73ff06","type":"debug","z":"808529ff.a7d9e8","name":"splitted","active":false,"console":"false","complete":"true","x":713.0000419616699,"y":860.7618732452393,"wires":[]},{"id":"23318931.354b96","type":"snmp table","z":"808529ff.a7d9e8","host":"192.168.1.131","community":"public","version":"2c","oids":"1.3.6.1.4.1.2021.9","name":"dskTable pi3one","x":355.57142639160156,"y":224.71428680419922,"wires":[["b20577dc.50b0a8","d2b4ccd.df4023"]]},{"id":"b20577dc.50b0a8","type":"debug","z":"808529ff.a7d9e8","name":"","active":false,"console":"false","complete":"true","x":511.57142639160156,"y":206.71428680419922,"wires":[]},{"id":"37c7cc74.7ea0c4","type":"join","z":"808529ff.a7d9e8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"txt","joiner":"\\n","timeout":"","count":"","x":542.0000419616699,"y":949.7618732452393,"wires":[["2bdc888c.2fd618","2851acc7.975684"]]},{"id":"2bdc888c.2fd618","type":"debug","z":"808529ff.a7d9e8","name":"rejoined","active":false,"console":"false","complete":"true","x":717.0000419616699,"y":946.7618732452393,"wires":[]},{"id":"3da81238.1f41ce","type":"emoncms","z":"808529ff.a7d9e8","name":"pi3one emoncms","emonServer":"924871a4.863e","nodegroup":"","datatype":"legacy","x":803.0000419616699,"y":1291.7618732452393,"wires":[]},{"id":"2851acc7.975684","type":"function","z":"808529ff.a7d9e8","name":"calculate MemFree... & SwapFree...","func":"// calculate free memory in MB (memory for buffers and Cached is also considered free)\nmsg.payload.MemFree_plusBuffersAndCache_MB=\n       Math.round((msg.payload.memAvailReal+ msg.payload.memBuffer + msg.payload.memCached)/1024);\n// calculate free swap space       \nmsg.payload.SwapFree_MB=Math.round((msg.payload.memAvailSwap/1024));\n\ndelete msg.payload.memAvailReal;\ndelete msg.payload.memBuffer;\ndelete msg.payload.memCached;\ndelete msg.payload.memAvailSwap;\n\nreturn msg;","outputs":1,"noerr":0,"x":511.0000419616699,"y":989.7618732452393,"wires":[["6dacf2e7.b2a8cc","4671e08f.3ee6e"]]},{"id":"6dacf2e7.b2a8cc","type":"debug","z":"808529ff.a7d9e8","name":"","active":false,"console":"false","complete":"true","x":802.4444961547852,"y":989.7618398666382,"wires":[]},{"id":"afeb1230.31fcd","type":"debug","z":"808529ff.a7d9e8","name":"pi3one snmp data to emoncms.org","active":false,"console":"false","complete":"true","x":851.0000419616699,"y":1249.7618732452393,"wires":[]},{"id":"39b1f034.e6e51","type":"snmp","z":"808529ff.a7d9e8","host":"192.168.1.131","community":"public","version":"2c","oids":"","name":"snmp pi3one","x":346.0000228881836,"y":751.190486907959,"wires":[["a8043d92.42cd1","4a368aa2.aa7364"]]},{"id":"a8043d92.42cd1","type":"debug","z":"808529ff.a7d9e8","name":"snmp pi3one","active":false,"console":"false","complete":"true","x":548.8571739196777,"y":745.333327293396,"wires":[]},{"id":"c01d940a.ad5ec8","type":"snmp table","z":"808529ff.a7d9e8","host":"192.168.1.132","community":"public","version":"2c","oids":"1.3.6.1.4.1.2021.9","name":"dskTable pi3two","x":354.57142639160156,"y":257.7142868041992,"wires":[["d2b4ccd.df4023","5065858.f57287c"]]},{"id":"f5973938.e74238","type":"change","z":"808529ff.a7d9e8","name":"set msg.host=pi3one","rules":[{"t":"set","p":"host","pt":"msg","to":"pi3one","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":347.0000419616699,"y":651.7618732452393,"wires":[["538c2da3.dd9324"]]},{"id":"a5e3ccec.02e22","type":"change","z":"808529ff.a7d9e8","name":"set msg.host=pi3two","rules":[{"t":"set","p":"host","pt":"msg","to":"pi3two","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":349.0000419616699,"y":688.7618732452393,"wires":[["538c2da3.dd9324"]]},{"id":"a2ed088.c0550f8","type":"switch","z":"808529ff.a7d9e8","name":"switch on msg.host","property":"host","propertyType":"msg","rules":[{"t":"eq","v":"pi3one","vt":"str"},{"t":"eq","v":"pi3two","vt":"str"},{"t":"eq","v":"pi3three","vt":"str"}],"checkall":"true","outputs":3,"x":123.00004196166992,"y":771.7618732452393,"wires":[["39b1f034.e6e51"],["19c96975.794007"],["eb9236e4.105d18"]]},{"id":"84e1f259.1fd7d","type":"snmp table","z":"808529ff.a7d9e8","host":"192.168.1.131","community":"public","version":"2c","oids":"1.3.6.1.2.1.25.4.2","name":"hrSWRunTable pi3one","x":367.71430587768555,"y":423.5714282989502,"wires":[["329064f.53e8a9c","4419003b.2163"]]},{"id":"329064f.53e8a9c","type":"debug","z":"808529ff.a7d9e8","name":"","active":false,"console":"false","complete":"true","x":549.7143058776855,"y":402.5714282989502,"wires":[]},{"id":"4350e67e.f11d58","type":"function","z":"808529ff.a7d9e8","name":"convert cpu_cs to cpu percentage","func":"var now=Date.now();\n\n\n// converts a cpu_in_counter (expressed in cs) into %\nfunction convert_cpu_cs_to_percentage(cpu_in_counter,cpu_out_counter){\n    //node.warn(\"convert_cpu_cs_to_percentage(\"+cpu_in_counter+\",\"+cpu_out_counter+\")\");\n    var cpu_counter = cpu_out_counter;\n    var cpu_cs_counter = cpu_in_counter;\n    var update_previous_counter_at_end = 1;\n    if (msg.payload.hasOwnProperty(cpu_cs_counter)){\n        var previous_counter = flow.get(msg.host+cpu_cs_counter) || -1;\n        if (previous_counter != -1 ){\n            delta_time   = now - previous_counter.time;\n            delta_cpu_cs = msg.payload[cpu_cs_counter] - previous_counter.cpu_cs;\n            // node.warn(\"[1]\"+cpu_cs_counter +\" :delta_cpu_cs =\" + delta_cpu_cs + \", delta time=\" + delta_time);\n            // ignore if too long ago or too recent or delta_cpu is negative.\n            if ( (delta_time >0) && (delta_time < 60*1000)){\n                // don't update previous counter if not one minute passed.\n                update_previous_counter_at_end = 0;\n            } else if ( (delta_time > 20*60*1000) || (delta_time <= 0 ) || delta_cpu_cs < 0 ) {\n                node.warn(\"previous counter ignored for \" + process + \" at host \" + msg.host +\n                         \" :delta_cpu_cs =\" + delta_cpu_cs + \", delta time=\" + delta_time);\n            } else {\n                  msg.payload[cpu_counter] = +(delta_cpu_cs*1000/delta_time).toFixed(2);\n            }\n        }\n        if (update_previous_counter_at_end){\n            flow.set(msg.host + cpu_cs_counter, \n                {\"time\": now,  \"cpu_cs\": msg.payload[cpu_cs_counter] });\n        }\n        delete msg.payload[cpu_cs_counter];\n        //node.warn(\"convert_cpu_cs_to_percentage:msg.payload[\"+cpu_counter+\"]=\"+msg.payload[cpu_counter]);\n    }\n}\n\n// loop over all general process counters\nvar general_counters=flow.get(\"static_configuration.general\");\nfor (var counter in general_counters){\n    if (general_counters.hasOwnProperty(counter)){\n        if (general_counters[counter].convert == \"cs_to_percentage\"){\n            convert_cpu_cs_to_percentage(counter,general_counters[counter].outname);\n        }\n    }\n}\n\n// loop over all process counters\nvar process_counters=flow.get(\"static_configuration.hrSWRunTable\");\nfor (var process in process_counters){\n    if (process_counters.hasOwnProperty(process)){\n        convert_cpu_cs_to_percentage(process + '_cpu_cs',process+'_cpu');\n    }\n}\n\nreturn msg;","outputs":"1","noerr":0,"x":481.0000419616699,"y":1118.7618732452393,"wires":[["23ba9a7c.20e186","1d797309.7285fd"]]},{"id":"23ba9a7c.20e186","type":"debug","z":"808529ff.a7d9e8","name":"","active":false,"console":"false","complete":"true","x":800.5555610656738,"y":1116.6507539749146,"wires":[]},{"id":"97159fda.1666f","type":"snmp table","z":"808529ff.a7d9e8","host":"192.168.1.132","community":"public","version":"2c","oids":"1.3.6.1.2.1.25.4.2","name":"hrSWRunTable pi3two","x":366.71430587768555,"y":454.5714282989502,"wires":[["4419003b.2163"]]},{"id":"a1aa8499.2db938","type":"function","z":"808529ff.a7d9e8","name":"convert process memory and available disk memory to MB","func":"var process_counters = flow.get(\"static_configuration.hrSWRunTable\");\nfor (var proc in process_counters){\n    if (process_counters.hasOwnProperty(proc)){\n        var proc_mem = proc + '_mem';\n        if (msg.payload.hasOwnProperty(proc_mem)){\n            msg.payload[proc_mem+'_MB']=Math.round(msg.payload[proc_mem]/1024);\n            delete msg.payload[proc_mem];\n        }\n    }\n}\n\nvar disk_counters = flow.get(\"static_configuration.dskTable\");\nfor (var disk in disk_counters){\n    if (disk_counters.hasOwnProperty(disk)){\n        if (msg.payload.hasOwnProperty(disk)){\n            msg.payload[disk+'_MB']=Math.round(msg.payload[disk]/1024);\n            delete msg.payload[disk];\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":482.0000419616699,"y":1075.7618732452393,"wires":[["4350e67e.f11d58","ac109789.94cc38"]]},{"id":"ac109789.94cc38","type":"debug","z":"808529ff.a7d9e8","name":"","active":false,"console":"false","complete":"true","x":804.0000343322754,"y":1074.5396213531494,"wires":[]},{"id":"5c122db7.489254","type":"change","z":"808529ff.a7d9e8","name":"set msg.host=pi3one","rules":[{"t":"set","p":"host","pt":"msg","to":"pi3one","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":164,"y":121,"wires":[["5250f20c.cbdb7c"]]},{"id":"b35ec56e.3bed38","type":"change","z":"808529ff.a7d9e8","name":"set msg.host=pi3two","rules":[{"t":"set","p":"host","pt":"msg","to":"pi3two","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":164,"y":152,"wires":[["5250f20c.cbdb7c"]]},{"id":"e7744e41.fb4a8","type":"snmp","z":"5cc50266.d8f4cc","host":"192.168.1.132","community":"public","version":"2c","oids":"1.3.6.1.4.1.2021.11.9.0","name":"","x":457,"y":1123,"wires":[["8a8d29d.9d438d8"]]},{"id":"8a89c1ce.f71ff","type":"inject","z":"5cc50266.d8f4cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":177,"y":1135,"wires":[["e7744e41.fb4a8"]]},{"id":"8a8d29d.9d438d8","type":"debug","z":"5cc50266.d8f4cc","name":"","active":true,"console":"false","complete":"false","x":697,"y":1125,"wires":[]},{"id":"8f0c3ec1.0bd78","type":"switch","z":"808529ff.a7d9e8","name":"switch on msg.host","property":"host","propertyType":"msg","rules":[{"t":"eq","v":"pi3one","vt":"str"},{"t":"eq","v":"pi3two","vt":"str"},{"t":"eq","v":"pi3three","vt":"str"}],"checkall":"true","outputs":3,"x":148.71430587768555,"y":440.5714282989502,"wires":[["84e1f259.1fd7d"],["97159fda.1666f"],["6f821a6d.a954f4"]]},{"id":"5250f20c.cbdb7c","type":"function","z":"808529ff.a7d9e8","name":"initialise <host> context","func":"var OIDs = \"\";\nvar OID2name = {};\nvar static_configuration = flow.get(\"static_configuration\");\nvar separator=\"\";\n\nfor (var name in static_configuration.general) {\n  if (static_configuration.general.hasOwnProperty(name)){\n      OID2name[static_configuration.general[name].OID]=name;\n      OIDs = OIDs + separator + static_configuration.general[name].OID;\n      separator =\",\";\n  }\n}\n\nflow.set(msg.host, { \"OIDs\" : OIDs, \"OID2name\" : OID2name });\n\nmsg.payload = flow.get(msg.host);\nreturn msg;","outputs":1,"noerr":0,"x":495,"y":129,"wires":[["28962467.a947bc","c6bdca35.d12878"]]},{"id":"28962467.a947bc","type":"switch","z":"808529ff.a7d9e8","name":"switch on msg.host","property":"host","propertyType":"msg","rules":[{"t":"eq","v":"pi3one","vt":"str"},{"t":"eq","v":"pi3two","vt":"str"},{"t":"eq","v":"pi3three","vt":"str"}],"checkall":"true","outputs":3,"x":136.14286041259766,"y":261.99999618530273,"wires":[["23318931.354b96"],["c01d940a.ad5ec8"],["e3377a5f.050278"]]},{"id":"c6bdca35.d12878","type":"debug","z":"808529ff.a7d9e8","name":"flow.get(<host>)","active":false,"console":"false","complete":"payload","x":778,"y":129,"wires":[]},{"id":"d2b4ccd.df4023","type":"function","z":"808529ff.a7d9e8","name":"dskTable  initialisation","func":"var dskTable=flow.get(\"static_configuration.dskTable\");\nvar host=flow.get(msg.host);\n\n// take care that /dev/root is appearing twice and should only be monitored once !!\n\n// Available space on the device. For large lightly-used disks (>2Tb), this value will latch at INT32_MAX (2147483647).\nvar dskAvail_OID=\"1.3.6.1.4.1.2021.9.1.7.\";  // device index must be appended to it.\n\n// search key for Filesystem /dev/root and /dev/sda3  (= /mnt/wd1tb_media)\nfor (var name in dskTable){\n//  if (dskTable(hasOwnProperty(name)) && ((dskTable[name][host]==\"*\")||(dskTable[name][host]==msg.host))){\n    if (dskTable.hasOwnProperty(name) && ((dskTable[name].host==\"*\")||(dskTable[name].host==msg.host))){\n      for (var key in msg.payload) {\n       if (msg.payload.hasOwnProperty(key)) {\n          // convert array buffer msg.payload[key][3] to a String\n          if ( String.fromCharCode.apply(null, new Uint16Array(msg.payload[key][2])) == dskTable[name][\"dskPath(2)\"]){\n            var OID = dskAvail_OID+key;\n            host.OIDs=host.OIDs+\",\" + OID;\n            host.OID2name[OID]=name;\n            break;\n          }\n        }\n      }\n  }\n}\n\nflow.set(msg.host,host);\nmsg.payload=flow.get(msg.host);\ndelete msg.oid;\nreturn msg;","outputs":1,"noerr":0,"x":577.5714263916016,"y":237.71428680419922,"wires":[["8cbefa32.40dc28","8f0c3ec1.0bd78"]]},{"id":"8cbefa32.40dc28","type":"debug","z":"808529ff.a7d9e8","name":"","active":false,"console":"false","complete":"true","x":815.5714111328125,"y":238.7142791748047,"wires":[]},{"id":"4419003b.2163","type":"function","z":"808529ff.a7d9e8","name":"add hrSWRunPerf counters","func":"var hrSWRunTable=flow.get(\"static_configuration.hrSWRunTable\");\nvar host=flow.get(msg.host);\n\n// hrSWRunPerfTable.\nvar hrSWRunName_OID=\"1.3.6.1.2.1.25.4.2.1.2.\" ; // device index must be appended to it.\nvar hrSWRunPerfMem_OID=\"1.3.6.1.2.1.25.5.1.1.2.\";  // device index must be appended to it.\nvar hrSWRunPerfCPU_OID=\"1.3.6.1.2.1.25.5.1.1.1.\";  // device index must be appended to it.\n\n\nfor (var name in hrSWRunTable){\n    //node.warn(\"name = \"+ name + \"; host = \"+ msg.host+ \"hrSWRunTable[name].host=\"+ hrSWRunTable[name].host);\n    if (hrSWRunTable.hasOwnProperty(name) && ((hrSWRunTable[name].host==\"*\")||(hrSWRunTable[name].host==msg.host))){\n      for (var key in msg.payload) {\n         if (msg.payload.hasOwnProperty(key)) {\n             // convert array buffer msg.payload[key][2] to a String\n             if ( ((String.fromCharCode.apply(null, new Uint16Array(msg.payload[key][2]))) == hrSWRunTable[name][\"hrSWRunName(2)\"]) &&\n                  ((hrSWRunTable[name][\"hrSWRunParams(5)\"]==\"*\") || \n                   (hrSWRunTable[name][\"hrSWRunParams(5)\"]==((String.fromCharCode.apply(null, new Uint16Array(msg.payload[key][5]))))))){\n                  var OID_hrSWRunName = hrSWRunName_OID+key;\n                  var OID_Mem = hrSWRunPerfMem_OID+key;\n                  var OID_CPU = hrSWRunPerfCPU_OID+key;\n                  host.OIDs=host.OIDs+\",\" + OID_Mem + \",\" + OID_CPU + \",\" + OID_hrSWRunName;\n                  host.OID2name[OID_hrSWRunName]=name+\"_hrSWRunName\";\n                  host.OID2name[OID_Mem]=name+\"_mem\";\n                  host.OID2name[OID_CPU]=name+\"_cpu_cs\";\n                  break;\n             }\n         }\n      }\n    }\n}\n\nflow.set(msg.host,host);\n\nmsg.payload=flow.get(msg.host);\ndelete msg.oid;\nreturn msg;\n","outputs":1,"noerr":0,"x":619.7143058776855,"y":445.5714282989502,"wires":[["7968805b.487a7","39a32d28.f77722"]]},{"id":"7968805b.487a7","type":"debug","z":"808529ff.a7d9e8","name":"","active":false,"console":"false","complete":"true","x":852.9365272521973,"y":444.46032905578613,"wires":[]},{"id":"538c2da3.dd9324","type":"function","z":"808529ff.a7d9e8","name":"set msg.oid for msg.host","func":"msg.oid=flow.get(msg.host).OIDs;\nreturn msg;","outputs":1,"noerr":0,"x":640.0000762939453,"y":664.7619123458862,"wires":[["b3bafa41.8f0018","a2ed088.c0550f8"]]},{"id":"1b620716.b14789","type":"change","z":"808529ff.a7d9e8","name":"set msg.nodegroup=11","rules":[{"t":"set","p":"nodegroup","pt":"msg","to":"11","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":514.4286155700684,"y":1286.4762449264526,"wires":[["3da81238.1f41ce","afeb1230.31fcd"]]},{"id":"2f9b8d87.bff072","type":"switch","z":"808529ff.a7d9e8","name":"switch on msg.host","property":"host","propertyType":"msg","rules":[{"t":"eq","v":"pi3one","vt":"str"},{"t":"eq","v":"pi3two","vt":"str"},{"t":"eq","v":"pi3three","vt":"str"}],"checkall":"true","outputs":3,"x":280.85719299316406,"y":1321.9046936035156,"wires":[["1b620716.b14789"],["5905d1ae.664b"],["6c8cd42f.e11c0c"]]},{"id":"5905d1ae.664b","type":"change","z":"808529ff.a7d9e8","name":"set msg.nodegroup=12","rules":[{"t":"set","p":"nodegroup","pt":"msg","to":"12","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":513.0000419616699,"y":1319.7618732452393,"wires":[["3da81238.1f41ce","487c60ee.90473"]]},{"id":"487c60ee.90473","type":"debug","z":"808529ff.a7d9e8","name":"pi3two snmp data to emoncms.org","active":false,"console":"false","complete":"true","x":852.0000610351562,"y":1343.7618408203125,"wires":[]},{"id":"4671e08f.3ee6e","type":"function","z":"808529ff.a7d9e8","name":"delete process counters if hrSWRunName doesn't match","func":"var process_counters = flow.get(\"static_configuration.hrSWRunTable\");\nfor (var proc in process_counters){\n    if (process_counters.hasOwnProperty(proc)){\n        var proc_hrSWRunName = proc + '_hrSWRunName';\n        var proc_mem         = proc + '_mem';\n        var proc_cpu_cs      = proc + '_cpu_cs';\n        if (msg.payload.hasOwnProperty(proc_hrSWRunName)){\n            if (msg.payload[proc_hrSWRunName]!=process_counters[proc][\"hrSWRunName(2)\"]){\n                node.warn(\"process name [=\"+msg.payload[proc_hrSWRunName]+\"] doesn't match for process:\" +proc);\n                delete msg.payload[proc_mem];\n                delete msg.payload[proc_cpu_cs];\n            }\n            delete msg.payload[proc_hrSWRunName];\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":476.0000419616699,"y":1034.7618732452393,"wires":[["a1aa8499.2db938","f4edfcb5.a7e7b"]]},{"id":"f4edfcb5.a7e7b","type":"debug","z":"808529ff.a7d9e8","name":"","active":false,"console":"false","complete":"true","x":801.5556144714355,"y":1033.3174047470093,"wires":[]},{"id":"5065858.f57287c","type":"debug","z":"808529ff.a7d9e8","name":"","active":false,"console":"false","complete":"true","x":527.5714263916016,"y":269.7142868041992,"wires":[]},{"id":"39a32d28.f77722","type":"switch","z":"808529ff.a7d9e8","name":"switch on msg.host","property":"host","propertyType":"msg","rules":[{"t":"eq","v":"pi3one","vt":"str"},{"t":"eq","v":"pi3two","vt":"str"},{"t":"eq","v":"pi3three","vt":"str"}],"checkall":"true","outputs":3,"x":143.1111421585083,"y":550.5396203994751,"wires":[["bc20b74f.785398"],["82e0e826.55c728"],["76022903.825778"]]},{"id":"bc20b74f.785398","type":"snmp table","z":"808529ff.a7d9e8","host":"192.168.1.131","community":"public","version":"2c","oids":"1.3.6.1.2.1.2.2","name":"ifTable pi3one","x":348.666690826416,"y":536.0952196121216,"wires":[["258f3970.3b2366","7ece7eaf.276ea"]]},{"id":"82e0e826.55c728","type":"snmp table","z":"808529ff.a7d9e8","host":"192.168.1.132","community":"public","version":"2c","oids":"1.3.6.1.2.1.2.2","name":"ifTable pi3two","x":346.4444389343262,"y":570.5396175384521,"wires":[["ac51fd3c.f5016","7ece7eaf.276ea"]]},{"id":"258f3970.3b2366","type":"debug","z":"808529ff.a7d9e8","name":"","active":false,"console":"false","complete":"true","x":521.9999732971191,"y":521.6507444381714,"wires":[]},{"id":"ac51fd3c.f5016","type":"debug","z":"808529ff.a7d9e8","name":"","active":false,"console":"false","complete":"true","x":531.5237731933594,"y":587.3649978637695,"wires":[]},{"id":"7ece7eaf.276ea","type":"function","z":"808529ff.a7d9e8","name":"add ifTable counters","func":"var ifTable=flow.get(\"static_configuration.ifTable\");\nvar host=flow.get(msg.host);\n\n// \tTotal number of octets received on the interface, including framing characters \nvar ifInOctets_OID=\"1.3.6.1.2.1.2.2.1.10.\";  // device index must be appended to it.\n\n// \tTotal number of octets transmitted out of the interface, including framing characters.  \nvar ifOutOctets_OID=\"1.3.6.1.2.1.2.2.1.16.\";  // device index must be appended to it.\n\n// search key for Filesystem /dev/root and /dev/sda3  (= /mnt/wd1tb_media)\nfor (var name in ifTable){\n    if (ifTable.hasOwnProperty(name) && ((ifTable[name].host==\"*\")||(ifTable[name].host==msg.host))){\n      for (var key in msg.payload) {\n       if (msg.payload.hasOwnProperty(key)) {\n          // convert array buffer msg.payload[key][3] to a String\n          if ( String.fromCharCode.apply(null, new Uint16Array(msg.payload[key][2])) == ifTable[name][\"ifDescr(2)\"]){\n            var in_OID = ifInOctets_OID+key;\n            var out_OID = ifOutOctets_OID+key;\n            host.OIDs=host.OIDs+\",\" + in_OID + \",\" + out_OID;\n            host.OID2name[in_OID] =name + '_InOctets';\n            host.OID2name[out_OID]=name + '_OutOctets';\n            break;\n          }\n        }\n      }\n  }\n}\n\nflow.set(msg.host,host);\nmsg.payload=flow.get(msg.host);\ndelete msg.oid;\nreturn msg;","outputs":1,"noerr":0,"x":596.4443855285645,"y":556.0952043533325,"wires":[["9d30687f.d18958","538c2da3.dd9324"]]},{"id":"9d30687f.d18958","type":"debug","z":"808529ff.a7d9e8","name":"","active":false,"console":"false","complete":"true","x":793.1111278533936,"y":556.0951738357544,"wires":[]},{"id":"1d797309.7285fd","type":"function","z":"808529ff.a7d9e8","name":"convert interface in/out octets to KB/s","func":"var now=Date.now();  // Return the number of milliseconds since 1970/01/01\n\nvar IF_counters=flow.get(\"static_configuration.ifTable\");\n\n// loop over all interfaces specified in static_configuration.ifTable\n// IF = interface\nfor (var IF in IF_counters){\n    if (IF_counters.hasOwnProperty(IF)){\n        var IF_InOctets = IF+'_InOctets';\n        var IF_OutOctets = IF + '_OutOctets';\n        var update_previous_counter_at_end = 1;\n        if (msg.payload.hasOwnProperty(IF_InOctets) && msg.payload.hasOwnProperty(IF_OutOctets)){\n            var previous_counter = flow.get(msg.host+IF) || -1;\n            if (previous_counter != -1 ){\n                delta_time   = now - previous_counter.time;\n                //node.warn(\"msg.payload[\"      + IF_InOctets + \"]=\"+ msg.payload[IF_InOctets]);\n                //node.warn(\"previous_counter[IF_InOctets]=\"+ previous_counter.IF_InOctets);\n                delta_InOctets  = msg.payload[IF_InOctets] - previous_counter.IF_InOctets;\n                delta_OutOctets = msg.payload[IF_OutOctets]- previous_counter.IF_OutOctets;\n                //node.warn(\"[1]\"+ IF + \", delta_time=\" + delta_time +\n                //         \" :delta_InOctets =\" + delta_InOctets + \", delta_OutOctets=\" + delta_OutOctets);\n                // ignore if too long ago or too recent or delta_cpu is negative.\n                if ( (delta_time >0) && (delta_time < 60*1000)){\n                    // don't update previous counter if not one minute passed.\n                    update_previous_counter_at_end = 0;\n                } else if ( (delta_time     > 20*60*1000) || (delta_time      <= 0 ) || \n                            (delta_InOctets < 0)          || (delta_OutOctets < 0  )) {\n                    node.warn(\"previous counter ignored for \" + IF + \" at host \" + msg.host +\n                          \" :delta_InOctets =\"  + delta_InOctets  + \n                          \" :delta_OutOctets =\" + delta_OutOctets + \", delta time=\" + delta_time);\n                } else {\n                   msg.payload[IF+'_inKBs']  = Math.round(delta_InOctets*1000/(delta_time*1024));\n                   msg.payload[IF+'_outKBs'] = Math.round(delta_OutOctets*1000/(delta_time*1024));\n                }\n            }\n            if (update_previous_counter_at_end){\n               //node.warn(\"Updating flow context variable: \" + msg.host + IF);\n               flow.set(msg.host +IF, \n                  {\"time\": now,  \n                   IF_InOctets : msg.payload[IF_InOctets], \n                   IF_OutOctets: msg.payload[IF_OutOctets] });\n            }\n            delete msg.payload[IF_InOctets];\n            delete msg.payload[IF_OutOctets];\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":493.111141204834,"y":1162.7618608474731,"wires":[["f3a5b743.d8aee8","7876bd3a.738104"]]},{"id":"f3a5b743.d8aee8","type":"debug","z":"808529ff.a7d9e8","name":"","active":false,"console":"false","complete":"true","x":799.777774810791,"y":1160.5397262573242,"wires":[]},{"id":"7876bd3a.738104","type":"function","z":"808529ff.a7d9e8","name":"remove general counters that should not be outputted","func":"// loop over all general process counters\nvar general_counters=flow.get(\"static_configuration.general\");\nfor (var counter in general_counters){\n    if (general_counters.hasOwnProperty(counter)){\n        if (general_counters[counter].convert == \"do not output\"){\n            delete msg.payload[counter];\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":485.3333549499512,"y":1204.9841182231903,"wires":[["2f9b8d87.bff072","ade6c0dd.ebfb1"]]},{"id":"ade6c0dd.ebfb1","type":"debug","z":"808529ff.a7d9e8","name":"","active":false,"console":"false","complete":"true","x":800.8887977600098,"y":1207.2063264846802,"wires":[]},{"id":"b9f43967.0484a8","type":"Mic","z":"57c4efe4.41d82","name":"","outputPayloadType":"buffer","endian":"little","bitwidth":"32","encoding":"signed-integer","channels":"1","device":"plughw:0,0","rate":"44100","silenceTimeout":0,"exitOnSilence":"false","debug":"false","active":false,"x":376,"y":110,"wires":[["f9d2e9cc.802918","94ccd48d.59efe8","1d75de15.a1fb72"]]},{"id":"856cfdeb.fa55","type":"inject","z":"57c4efe4.41d82","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"x":114,"y":90,"wires":[["b9f43967.0484a8"]]},{"id":"48b236fb.bac098","type":"inject","z":"57c4efe4.41d82","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":117,"y":141,"wires":[["b9f43967.0484a8"]]},{"id":"8e7a141.dfe10e8","type":"inject","z":"57c4efe4.41d82","name":"","topic":"","payload":"pause","payloadType":"str","repeat":"","crontab":"","once":false,"x":113,"y":189,"wires":[["b9f43967.0484a8"]]},{"id":"192aaa74.03e3a6","type":"inject","z":"57c4efe4.41d82","name":"","topic":"","payload":"resume","payloadType":"str","repeat":"","crontab":"","once":false,"x":116,"y":239,"wires":[["b9f43967.0484a8"]]},{"id":"f9d2e9cc.802918","type":"debug","z":"57c4efe4.41d82","name":"","active":true,"console":"false","complete":"true","x":542,"y":145,"wires":[]},{"id":"94ccd48d.59efe8","type":"play audio","z":"57c4efe4.41d82","name":"","voice":"0","x":547,"y":227,"wires":[]},{"id":"1d75de15.a1fb72","type":"ui_audio","z":"57c4efe4.41d82","name":"audio out","group":"d3d2e56a.b1a638","voice":"0","always":true,"x":536,"y":282,"wires":[]},{"id":"5cd4b42e.70d76c","type":"ui_text_input","z":"57c4efe4.41d82","name":"audio input","label":"audio","group":"d3d2e56a.b1a638","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"4000","topic":"","x":335,"y":329,"wires":[["5ffea2fd.6b031c","94ccd48d.59efe8"]]},{"id":"5ffea2fd.6b031c","type":"debug","z":"57c4efe4.41d82","name":"","active":true,"console":"false","complete":"false","x":543,"y":347,"wires":[]},{"id":"dc23949b.ec1e88","type":"inject","z":"5150f38.98b450c","name":"every 5 minutes","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"x":130,"y":80,"wires":[["9588b187.c16e6"]]},{"id":"9588b187.c16e6","type":"exec","z":"5150f38.98b450c","command":"cat /sys/class/thermal/thermal_zone0/temp","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"cpu temp","x":300,"y":120,"wires":[["6fc1206f.cced1","c172e882.bf6e38"],["a20c2074.c8652"],["24b46227.a7a57e"]]},{"id":"6fc1206f.cced1","type":"debug","z":"5150f38.98b450c","name":"stdout","active":false,"console":"false","complete":"true","x":473,"y":57,"wires":[]},{"id":"a20c2074.c8652","type":"debug","z":"5150f38.98b450c","name":"stderr","active":false,"console":"false","complete":"true","x":475,"y":112,"wires":[]},{"id":"24b46227.a7a57e","type":"debug","z":"5150f38.98b450c","name":"return code","active":false,"console":"false","complete":"true","x":487,"y":149,"wires":[]},{"id":"c172e882.bf6e38","type":"function","z":"5150f38.98b450c","name":"convert to C","func":"msg.payload = { CpuTemp : parseInt(msg.payload)/1000 };\nreturn msg;","outputs":1,"noerr":0,"x":626,"y":87,"wires":[["57d58ca2.e141d4"]]},{"id":"9dc0e602.3549d8","type":"debug","z":"5150f38.98b450c","name":"pi cpu_temp","active":true,"console":"false","complete":"true","x":986,"y":161,"wires":[]},{"id":"57d58ca2.e141d4","type":"change","z":"5150f38.98b450c","name":"set msg.nodegroup=12","rules":[{"t":"set","p":"nodegroup","pt":"msg","to":"12","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":162,"wires":[["9dc0e602.3549d8","28586d9.7ba9092"]]},{"id":"28586d9.7ba9092","type":"emoncms","z":"5150f38.98b450c","name":"my emoncms.org","emonServer":"924871a4.863e","nodegroup":"","datatype":"legacy","x":832,"y":229,"wires":[]},{"id":"e3377a5f.050278","type":"snmp table","z":"808529ff.a7d9e8","host":"192.168.1.33","community":"public","version":"2c","oids":"1.3.6.1.4.1.2021.9","name":"dskTable pi3three","x":365.1428680419922,"y":293.57140922546387,"wires":[["d2b4ccd.df4023","cd2f8bd2.bf21d8"]]},{"id":"149a40ad.6e6c3f","type":"change","z":"808529ff.a7d9e8","name":"set msg.host=pi3three","rules":[{"t":"set","p":"host","pt":"msg","to":"pi3three","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":164.85713958740234,"y":185.14285278320312,"wires":[["5250f20c.cbdb7c"]]},{"id":"cd2f8bd2.bf21d8","type":"debug","z":"808529ff.a7d9e8","name":"msg","active":false,"console":"false","complete":"true","x":526.2857275009155,"y":300.857141494751,"wires":[]},{"id":"6f821a6d.a954f4","type":"snmp table","z":"808529ff.a7d9e8","host":"192.168.1.33","community":"public","version":"2c","oids":"1.3.6.1.2.1.25.4.2","name":"hrSWRunTable pi3three","x":376.2856979370117,"y":485.1428565979004,"wires":[["4419003b.2163","56043d48.29d794"]]},{"id":"76022903.825778","type":"snmp table","z":"808529ff.a7d9e8","host":"192.168.1.33","community":"public","version":"2c","oids":"1.3.6.1.2.1.2.2","name":"ifTable pi3three","x":344.8571319580078,"y":602.2857394218445,"wires":[["7ece7eaf.276ea","cd6b34a0.455be8"]]},{"id":"eb9236e4.105d18","type":"snmp","z":"808529ff.a7d9e8","host":"192.168.1.33","community":"public","version":"2c","oids":"","name":"snmp pi3three","x":356.2857246398926,"y":813.7142276763916,"wires":[["d59b5289.cf676","4a368aa2.aa7364"]]},{"id":"d59b5289.cf676","type":"debug","z":"808529ff.a7d9e8","name":"snmp pi3three","active":false,"console":"false","complete":"true","x":550.5714454650879,"y":815.1428699493408,"wires":[]},{"id":"6c8cd42f.e11c0c","type":"change","z":"808529ff.a7d9e8","name":"set msg.nodegroup=13","rules":[{"t":"set","p":"nodegroup","pt":"msg","to":"13","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":511.9999580383301,"y":1350.8571729660034,"wires":[["fb75d0f6.63b2e","3da81238.1f41ce"]]},{"id":"fb75d0f6.63b2e","type":"debug","z":"808529ff.a7d9e8","name":"pi3three snmp data to emoncms.org","active":true,"console":"false","complete":"true","x":860,"y":1388.428466796875,"wires":[]},{"id":"6fddf834.ebe798","type":"inject","z":"c4f36caf.e6948","name":"default category","topic":"","payload":"weather","payloadType":"str","repeat":"","crontab":"","once":true,"x":117,"y":91,"wires":[["8b491bc0.588768","c741508.6be4db"]]},{"id":"6f3be5e0.59368c","type":"ui_template","z":"c4f36caf.e6948","group":"6ecb274c.049768","name":"emoncms chart","order":0,"width":"12","height":"12","format":"","storeOutMessages":true,"fwdInMessages":true,"x":816,"y":536,"wires":[[]]},{"id":"ee5c9dea.a1168","type":"template","z":"c4f36caf.e6948","name":"emoncms iframe html","field":"template","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe style=\"width:{{flow.width}}px; height:{{flow.height}}px;\" frameborder=\"0\" scrolling=\"no\" marginheight=\"0\" marginwidth=\"0\" \n src=\"https://emoncms.org/vis/multigraph?mid={{flow.chart_id}}&embed=1&apikey=4b1fb058df6f5a59c0db242ead615e50\"></iframe>","x":721,"y":475,"wires":[["6f3be5e0.59368c","a64a3dcd.6bde9"]]},{"id":"a64a3dcd.6bde9","type":"debug","z":"c4f36caf.e6948","name":"emoncms chart msg","active":false,"console":"false","complete":"true","x":854,"y":425,"wires":[]},{"id":"2b53f9ff.611d06","type":"ui_dropdown","z":"c4f36caf.e6948","name":"emoncms chart selector","label":"","place":"Select option","group":"503161ea.c0303","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"nog niet geinitializeerd","value":"x","type":"str"}],"payload":"","topic":"","x":161,"y":300,"wires":[["d7b551f9.942cb","7b95ca66.387d34"]]},{"id":"8b491bc0.588768","type":"ui_dropdown","z":"c4f36caf.e6948","name":"emoncms category selector","label":"","place":"Select option","group":"94d55c76.0d97d","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"pi","value":"pi","type":"str"},{"label":"electr.","value":"power","type":"str"},{"label":"weer","value":"weather","type":"str"},{"label":"netwerk","value":"lan","type":"str"}],"payload":"","topic":"","x":153,"y":164,"wires":[["b5ab21d9.bfd7b","fe8f5db0.14f83"]]},{"id":"b5ab21d9.bfd7b","type":"debug","z":"c4f36caf.e6948","name":"emoncms category","active":true,"console":"false","complete":"true","x":435,"y":163,"wires":[]},{"id":"d7b551f9.942cb","type":"debug","z":"c4f36caf.e6948","name":"emoncms chart","active":true,"console":"false","complete":"true","x":399,"y":300,"wires":[]},{"id":"fe8f5db0.14f83","type":"function","z":"c4f36caf.e6948","name":"get chart options","func":"switch(msg.payload){\n    case \"pi\":\n        msg.options = [ \n    { \"pi process mem\": \"13278\"},\n    { \"pi process cpu\": \"13272\" },\n    { \"pi free mem\" : \"13262\" },\n    { \"pi load\": \"13263\" },\n    { \"pi free sd card\" : \"13264\" },\n    { \"pi harddisks\" : \"13266\" },\n    { \"pi network\" : \"13328\" },\n    { \"pi cpu\" : \"13329\" },\n    { \"pi cpu idle\" : \"13333\" },\n    { \"pi cpu wait\" : \"13334\" },\n    { \"pi cpu temp versus cpu idle\" : \"13457\" },\n    { \"pi3one cpu temp\" : \"13478\" },\n    { \"pi3two cpu temp\" : \"13479\" }\n    ];\n        break;\n    case \"power\":\n        msg.options = [\n    {\"power 3 phases\" : \"6088\" },\n    {\"house and solar power\" : \"6089\" },\n    {\"kWhd 3 phases\" : \"6090\" },\n    {\"kWhd house and solar\" : \"6091\" }];\n        break;\n    case \"weather\":\n        msg.options = [\t\n    {\"Pressure\" : \"12980\" },\n    {\"Absolute Humidity\" : \"12978\" },\n\t{\"CV temp\": \"9560\"},\n\t{\"Humidity Clouds\" : \"9561\" },\n\t{\"temperature\" : \"10087\" },\n    {\"relative humidity\" : \"11861\" },\n    { \"All humidity sensor at home\" : \"11999\" },\n    { \"Voltage of 2 emonTh\" : \"12001\" },\n\t{ \"ventilator and abs humidity\": \"13459\" },\n    { \"ventilation and temp\" : \"13460\" },\n    { \"ventilation and humidity\" : \"13461\" }];\n        break;\n    case \"lan\" :\n        msg.options = [\n    {\"servers\": \"9809\" },\n\t{\"TV en laptops kids\" : \"9744\" },\n    {\"network\" : \"9812\" },\n    {\"PCs Jan Marleen\" : \"9813\" },\n    {\"Mobile Kids\" : \"9814\" },\n    {\"uur laptop schermen per dag\": \"9976\" },\n    {\"TV per dag\" : \"9977\" },\n\t{ \"mobile parents\" : \"12673\" }];\n        break;\n    default:\n        msg.options = [];\n}\nreturn msg;","outputs":1,"noerr":0,"x":154,"y":231,"wires":[["2b53f9ff.611d06"]]},{"id":"c741508.6be4db","type":"debug","z":"c4f36caf.e6948","name":"default category","active":true,"console":"false","complete":"true","x":405,"y":90,"wires":[]},{"id":"7b95ca66.387d34","type":"change","z":"c4f36caf.e6948","name":"store chart_id in flow context","rules":[{"t":"set","p":"chart_id","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":343,"y":369,"wires":[["ee5c9dea.a1168"]]},{"id":"eb3b56d3.a9b3e8","type":"ui_dropdown","z":"c4f36caf.e6948","name":"device selector","label":"","place":"Select option","group":"d4fb26de.13dfb8","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"n7","value":"nexus7","type":"str"},{"label":"tp","value":"comp","type":"str"},{"label":"s7","value":"s7","type":"str"}],"payload":"","topic":"","x":131,"y":419,"wires":[["9fff1235.eab19"]]},{"id":"38a2cc48.c4e864","type":"change","z":"c4f36caf.e6948","name":"settings nexus7","rules":[{"t":"set","p":"width","pt":"flow","to":"580","tot":"str"},{"t":"set","p":"height","pt":"flow","to":"400","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":439,"y":449,"wires":[["ee5c9dea.a1168"]]},{"id":"9fff1235.eab19","type":"switch","z":"c4f36caf.e6948","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"nexus7","vt":"str"},{"t":"eq","v":"computer","vt":"str"},{"t":"eq","v":"s7","vt":"str"}],"checkall":"true","outputs":3,"x":242,"y":484,"wires":[["38a2cc48.c4e864"],["e1d4a483.b54498"],["a95df815.fd0428"]]},{"id":"a95df815.fd0428","type":"change","z":"c4f36caf.e6948","name":"settings s7","rules":[{"t":"set","p":"width","pt":"flow","to":"350","tot":"str"},{"t":"set","p":"height","pt":"flow","to":"400","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":428,"y":537,"wires":[["ee5c9dea.a1168"]]},{"id":"e1d4a483.b54498","type":"change","z":"c4f36caf.e6948","name":"settings computer","rules":[{"t":"set","p":"width","pt":"flow","to":"580","tot":"str"},{"t":"set","p":"height","pt":"flow","to":"400","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":448,"y":495,"wires":[["ee5c9dea.a1168"]]},{"id":"2b8f96a6.b1a63a","type":"comment","z":"c4f36caf.e6948","name":"UI to select emoncms.org charts","info":"","x":137,"y":31,"wires":[]},{"id":"bb450ef5.470fa","type":"http request","z":"1ca85043.0aadd","name":"get Borsbeek 48hours forecast","method":"GET","ret":"obj","url":"https://twcservice.eu-gb.mybluemix.net/api/weather/v1/geocode/51.189961/4.486909/forecast/hourly/48hour.json?units=m&language=nl-NL","tls":"","x":340,"y":138,"wires":[["86a9e190.c5ffb","50234149.47ff5"]]},{"id":"86a9e190.c5ffb","type":"debug","z":"1ca85043.0aadd","name":"bosrbeek 48hours forecast","active":true,"console":"false","complete":"true","x":650,"y":141,"wires":[]},{"id":"50234149.47ff5","type":"ui_template","z":"1ca85043.0aadd","group":"7afd5efb.14c1d","name":"48 hours forecast","order":2,"width":"16","height":"20","format":"<table>\n  <th>U</th>\n  <th>T</th>\n  <th>regen</th>\n  <th>wind</th>\n  <th>uv</th>\n  <th>beschrijving</th>\n  <tr ng-repeat=\"x in msg.payload.forecasts\">\n    <td>{{ x.fcst_valid_local | date : \"H\" }}u</td>\n    <td>{{ x.temp }}C</td>\n    <td>{{ x.pop }}% ({{ x.qpf }}mm)</td>\n    <td>{{ x.wspd }}km/u </td>\n    <td>{{ x.uv_index_raw | number : 2 }} [{{x.uv_index}}:{{x.uv_desc}}]</td>\n    <td>{{ x.phrase_32char }}</td>\n  </tr>\n</table>\n\n\n<ul>\n <li ng-repeat=\"x in msg.payload.forecasts\">\n {{ x.fcst_valid_local + ': ' + x.temp + 'C, rain: ' + x.pop + '% (' +  x.qpf + 'mm), wind: '+ x.wspd + 'km/u, uv: ' \n    + x.uv_index_raw + \"[\" +  x.uv_index + \":\" + x.uv_desc +  \"]\"}}</li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"x":570,"y":198,"wires":[[]]},{"id":"2c45df7d.0a039","type":"template","z":"62fe77b3.0d8338","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n    <style>\n        {{{payload.style}}}\n    </style>\n</head>\n\n\n<table width=\"100%\">\n  <tr>\n    <th>Name</th>\n    <th>IP</th> \n  </tr>\n  {{#payload}}\n  <tr>\n    <td>{{{name}}}</td>\n    <td>{{ip}}</td> \n  </tr>\n  {{/payload}}\n</table>","x":762,"y":81,"wires":[["56e293a3.5ad2cc"]]},{"id":"56e293a3.5ad2cc","type":"http response","z":"62fe77b3.0d8338","name":"","x":902,"y":81,"wires":[]},{"id":"c5c88294.5b10e","type":"template","z":"62fe77b3.0d8338","name":"css","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"table {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #DFDFDF;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n    text-align: center;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */","x":622,"y":81,"wires":[["2c45df7d.0a039"]]},{"id":"a1942ba2.d3f1e8","type":"template","z":"62fe77b3.0d8338","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"[\n    {\"name\": \"Computer 1\", \"ip\": \"6.3.6.6\"},\n    {\"name\": \"Computer 2\", \"ip\": \"6.3.6.6\"},\n    {\"name\": \"Computer 3\", \"ip\": \"6.7.6.6\"},\n    {\"name\": \"Computer 4\", \"ip\": \"6.4.6.6\"}\n]\n    ","x":322,"y":81,"wires":[["bb7e4dc7.a2978"]]},{"id":"bb7e4dc7.a2978","type":"json","z":"62fe77b3.0d8338","name":"","x":482,"y":81,"wires":[["c5c88294.5b10e"]]},{"id":"ca08c1e.baa324","type":"http in","z":"62fe77b3.0d8338","name":"","url":"/table","method":"get","swaggerDoc":"","x":152,"y":81,"wires":[["a1942ba2.d3f1e8"]]},{"id":"b21738b9.598148","type":"ui_template","z":"62fe77b3.0d8338","group":"63f41244.6b4dcc","name":"","order":0,"width":"6","height":"10","format":"<style>\n    {{msg.style}}\n</style>\n\n<table>\n  <tr ng-repeat=\"obj in msg.payload\">\n    <td>{{ obj.name }}</td>\n    <td>{{ obj.ip }}</td>\n  </tr>\n</table>","storeOutMessages":false,"fwdInMessages":true,"x":772,"y":161,"wires":[[]]},{"id":"e61f4e6c.af48e","type":"template","z":"62fe77b3.0d8338","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"[\n    {\"name\": \"Computer 1\", \"ip\": {{payload}}},\n    {\"name\": \"Computer 2\", \"ip\": \"6.3.6.6\"},\n    {\"name\": \"Computer 3\", \"ip\": \"6.7.6.6\"},\n    {\"name\": \"Computer 4\", \"ip\": \"6.4.6.6\"}\n]\n    ","x":322,"y":161,"wires":[["a82bfc2f.f4c08"]]},{"id":"73d61c7d.64aea4","type":"inject","z":"62fe77b3.0d8338","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":172,"y":161,"wires":[["e61f4e6c.af48e"]]},{"id":"a82bfc2f.f4c08","type":"json","z":"62fe77b3.0d8338","name":"","x":462,"y":161,"wires":[["26851cb1.e9d564"]]},{"id":"26851cb1.e9d564","type":"template","z":"62fe77b3.0d8338","name":"css","field":"style","fieldType":"msg","format":"html","syntax":"mustache","template":"table {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #DFDFDF;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n    text-align: center;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */","x":622,"y":161,"wires":[["b21738b9.598148"]]},{"id":"e9233403.a08fd8","type":"comment","z":"d654dac8.bb9c38","name":"Read me","info":"This charting example extends node-red-dashboard and the work by Colin Law here:\nhttp://flows.nodered.org/flow/c3dc75c47323a2754f5285225bce64b5\n\nView the chart at http://localhost:1880/ui\n\nBoth the dashboard chart and Colin's example uses time as the X-axis. The example\nhere uses an integer as the x-axis. Colin's example uses Chart.js inside a\nnode-red-dashboard template node. The example here leaves Colin's code almost \nunchanged except that the chart.js XAxis is changed from:\n\n                xAxes: [{\n                    type: 'time',\n                    time: {\n                        unit: 'minute',\n                        unitStepSize: 1,\n                        displayFormats: {\n                            minute: 'HH:mm'\n                        }\n                    }\n                }],\n\nto this:\n              xAxes: [{\n                    type: 'linear',\n                    position: 'bottom'\n                    }\n                ],\n                \nI also adjusted the way the nodes are rendered.\n\nThis example pre-prepares the data object and uses the msg.action = \"load\" \nmethod to ask the template code to render the data. \n\nA dashboard button on the UI page generates fresh data with a different \nscale each time.\n\n\n","x":115,"y":53,"wires":[]},{"id":"a328de1a.68235","type":"ui_template","z":"d654dac8.bb9c38","group":"4534c054.f6959","name":"Chart.js example","order":9,"width":"8","height":"8","format":"<!-- See the read me comment node. Colin Law's original notes follow -->\n\n<!--\nA node-red Dashboard UI template to draw charts using chart.js\nBefore use download the file Chart.bundle.min.js from chartjs.org and \nsave in an appropriate folder (e.g. .node-red/static). \nIn settings.js set httpStatic to the full path of that folder and restart node-red.\nMake sure that the options for 'Pass through messages' and 'Add output messages' \nin this node are cleared.\nFor basic use set the id and size you want in the canvas tag and set chartID to the id\nSetup chartDef as required for your chart (see the chart.js docs)\nIn addition, for each dataset specify in chartDef the message topic that you will use for that channel.\nTo (optionally) provide the chart with a one-off set of data send the node a message with:\nmsg.action = \"load\"\nmsg.payload = [\n{topic: \"mytopic1\", data: [{x: x1,y:y2},{x:x2,y:y2},...]},\n{topic: \"mytopic2\", data: [{x: x1,y:y2},{x:x2,y:y2},...]},\n...]\nWhere mytopic1 and mytopic2 are the the topics specified in the chartDef\n\nTo provide the chart with data incrementally (for a time series for example)\nsend it messages of the form\n{topic: \"mytopic1\", payload: {x:xvalue,y:yvalue}}\nThe chart will be updated as each sample is provided.\nTo limit the growth of the chart set chartMaxPoints and/or chartTimeSpan in the Chart Helper node\nas described at the head of that node.\nIf you find that chart seems to flicker and scroll bars come and go then try \nsetting a size other than auto in the Size specification for this node.\n\nFor Bar charts the x value is the label for the bar and the y value is the bar value\n\nNote that since the chart samples are stored in the browser then the chart will be cleared each\ntime the browser is refreshed (and will be clear on initially opening the view). In order to \nprovided persistency over browser opening and refresh this node may be used in conjunction with\nthe Chart Helper function node.  Details for its use are in the source of that node.\n\nIf your flow includes more that one instance of this script then the line fetching \nChart.bundle.min.js need only be included in one of them\n-->\n\n<script src=\"/Chart.bundle.min.js\"></script>\n<canvas id=\"myChartSimple1\" width=\"300\" height=\"300\"></canvas>\n<script>\n(function() {\n    var chartID = \"myChartSimple1\";           // set this to the id you have specified in the canvas tag above\n    // setup the chart definition as defined in the chart.js documentation, in addition setting up the topic\n    // for each channel\n    var chartDef = {\n        type: 'line',\n        data: {\n            datasets: [{\n                topic: \"Sin\",    // used here not by chart.js\n                label: \"Sin\",\n                yAxisID: \"1\",\n                fill: false,\n                lineTension: 0,\n                borderColor: \"#0000ff\",\n                pointRadius: 5,\n                pointHoverRadius: 5,\n                pointBorderColor: \"#0000ff\",\n                pointBackgroundColor: \"#0000ff\",\n                backgroundColor:  \"#0000ff\",\n                borderWidth: 1,\n                data: []  // data is written here later\n            }, {\n                topic: \"Triangle\",    // used here not by chart.js\n                label: \"Triangle\",\n                yAxisID: \"2\",\n                fill: false,\n                lineTension: 0,\n                borderColor: \"#ff0000\",\n                pointRadius: 5,\n                pointHoverRadius: 5,\n                pointBorderColor: \"#ff0000\",\n                pointBackgroundColor: \"#ff0000\",\n                backgroundColor:  \"#ff0000\",\n                borderWidth: 1,\n                data: []  // data is written here later\n            }]\n        },\n        options: {\n            scales: {\n                xAxes: [{\n                    type: 'linear',\n                    position: 'bottom'\n                    }\n                ],\n                yAxes: [{\n                    id: \"1\",\n                    ticks: {\n                        min: -1,\n                        max: 1,\n                        stepSize: 0.2\n                    }\n                }, {\n                    id: \"2\",\n                    ticks: {\n                        min: -10,\n                        max: 10,\n                        stepSize: 2\n                    }\n                }]\n            },\n            animation: {\n                duration: 0\n            }\n        }\n    }\n        \n/***** You shouldn't normally need to change anything below here *****/    \n    var myChart = null;\n    var loaded = false;     // indicates whether we have already had a load action\n    var chartTimeSpan;\n    var chartMaxPoints;\n\n    function doChart(msg, scope) {\n        if (!myChart) {\n            // chart does not exist so load the data and create it\n            var ctx = document.getElementById(chartID);\n            myChart = new Chart(ctx, chartDef);     \n        }\n        // chart already exists, update it\n        var datasets = myChart.data.datasets;\n        // is this a load or preload action?\n        if (msg.action === \"load\" || msg.action === \"preload\") {\n            // yes, do not allow preload if we have already had a load\n            // so do it if this is a load or we have not previously had a load\n            if (msg.action === \"load\" || !loaded) {\n                // pick up chartTimeSpan and chartMaxPoints if they have been provided\n                if (typeof msg.chartTimeSpan != 'undefined') {\n                    chartTimeSpan = msg.chartTimeSpan;\n                }\n                if (typeof msg.chartMaxPoints != 'undefined') {\n                    chartMaxPoints = msg.chartMaxPoints;\n                }\n                    \n                // replace existing data for matching topics\n                for (var j = 0; j < msg.payload.length; j++) {\n                    var topic = msg.payload[j].topic;\n                    // find it in the chart\n                    for (var i = 0; i < datasets.length; i++) {\n                        if (datasets[i].topic == topic) {\n                            // if stripping old samples by time is required then ensure the x value is Date\n                            if (chartTimeSpan > 0 ) {\n                                var data = msg.payload[j].data;\n                                for (var k = 0; k < data.length; k++) {\n                                    if (typeof data[k].x === \"string\") {\n                                        data[k].x = new Date(data[k].x);\n                                    }\n                                }\n                            }\n                            if (chartDef.type !== \"bar\") {\n                                datasets[i].data = msg.payload[j].data;\n                            } else {\n                                // bar chart so x values must go to labels and y values to dataset\n                                datasets[i].data = [];\n                                myChart.data.labels = [];\n                                var data = msg.payload[j].data;\n                                for (var k = 0; k < data.length; k++) {\n                                    datasets[i].data.push(data[k].y);\n                                    myChart.data.labels.push(data[k].x);\n                                }\n                            }\n                            break;\n                        }\n                    }\n                }\n            }\n            if (msg.action === \"load\") loaded = true;\n            myChart.update();\n        } else {\n            // does the topic match one of the datasets?\n            for (var i = 0; i < datasets.length; i++) {\n                if (datasets[i].topic == msg.topic) {\n                    // if stripping old samples by time is required then ensure the x value is Date\n                    if (chartTimeSpan > 0 && typeof msg.payload.x === \"string\") {\n                        msg.payload.x = new Date(msg.payload.x);\n                    }\n                    if (chartDef.type !== \"bar\") {\n                        datasets[i].data.push(msg.payload);\n                    } else {\n                         // bar chart so x value must go to labels and y value to dataset\n                        datasets[i].data.push(msg.payload.y);\n                        myChart.data.labels.push(msg.payload.x);\n                    }\n                    myChart.update();\n                    break;\n                }\n            }\n        }\n        // strip off samples older than now\n        // charTimeSpan == 0 implies don't do it\n        var shifted = false;\n        if (chartTimeSpan > 0) {\n            var now = new Date();\n            var oldestTimeAllowed = now - chartTimeSpan;\n            for (var i = 0; i < datasets.length; i++) {\n                dataset = datasets[i];\n                while(dataset.data[0] && getTime(dataset.data[0].x) < oldestTimeAllowed) {\n                    dataset.data.shift();\n                    shifted = true;\n                }\n            }\n        }\n        // strip samples off the front if there are now too many\n        // charTimeSpan == 0 implies don't do it\n        if (chartMaxPoints > 0) {\n            for (var i = 0; i < datasets.length; i++) {\n                dataset = datasets[i];\n                while(dataset.data.length > chartMaxPoints) {\n                    dataset.data.shift();\n                    shifted = true;\n                }\n            }\n        }\n        if (shifted) {\n            myChart.update();\n        }\n    };\n\n    // gets the time of an x value, works for strings or Date types\n    function getTime(x) {\n        if (typeof x === \"string\") x = new Date(x);\n        return x.getTime();\n    }\n    \n    // builds the preload message for sending back to the chart helper\n    function preloadMsg() {\n        var preMsg = {action: \"preload\", payload: \"preload\"};\n        // build array of topics in chart\n        var topics = [];\n        for (var i=0; i<chartDef.data.datasets.length; i++) {\n            topics.push(chartDef.data.datasets[i].topic);\n        }\n        preMsg.topics = topics;\n        // has the chart already been created\n        if (myChart) {\n            preMsg.lastXValue = 1;\n        } else {\n            preMsg.lastXValue = 0;\n        }\n        return preMsg;\n    }\n\n    (function(scope) {\n        // this code gets run when the a view is opened on the node in the browser\n        // send a preload message back to node red to ask it send\n        // us a complete set of data. Pass down max points and time span to the helper node for it to use\n        // plus an array of the topics of interest\n        scope.send( preloadMsg() );\n        \n        scope.$watch('msg', function(msg) {\n            if (msg) {\n                doChart(msg, scope);\n            }\n        });\n    })(scope);\n})();\n</script>\n","storeOutMessages":false,"fwdInMessages":false,"x":611.5499572753906,"y":176.88333129882812,"wires":[[]]},{"id":"1351f2cb.8bf34d","type":"debug","z":"d654dac8.bb9c38","name":"View data object","active":true,"console":"false","complete":"true","x":609.0000305175781,"y":236.13333129882812,"wires":[]},{"id":"c1873a97.d07d38","type":"inject","z":"d654dac8.bb9c38","name":"Load Data Set","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":148.99998474121094,"y":121.38333129882812,"wires":[["c80a3ecf.6cf1d"]]},{"id":"c80a3ecf.6cf1d","type":"function","z":"d654dac8.bb9c38","name":"Pre-load test data","func":"\n/* This function creates a two data sets, with different topics,\n   the same x values and different y values*/\n\n// Change the scale factor each time.\nvar scale = context.get('scale') || 0;\nif (msg.topic == \"Reset\") {\n    scale = 0;\n}\nscale++;\ncontext.set('scale', scale);\n\nmsg.payload = [];       // This will be an array of {topic, data} objects\nvar dataPoints1 = [];   // These will be the first array of data points \nvar dataPoints2 = [];   // These will be the second array of data points \nvar numPoints = 20;     // We will create one more than this.\n\n// For the first data set create a sine wave\nfor (var i=0; i<=numPoints; i++) {\n    var point = {};\n    point.x = i;\n    point.y = Math.sin(2 * 3.14 * (i/numPoints)) * scale/10;\n    // build the data array    \n    dataPoints1.push(point);\n}\n\n// For the second data set create a triangle\nfor (var i=0; i<=numPoints; i++) {\n    var point = {};\n    point.x = i;\n    if (i<(numPoints/2)) {\n        // ramp up\n        point.y = i * scale/10;\n    }\n    else {\n        // ramp down\n        point.y = (numPoints - i) * scale/10;\n    }\n    dataPoints2.push(point);    // add to the array\n}\n\nmsg.action = \"load\";    // This instructs the chart node to paint the data\n\n// The payload is an array of two {topic, data} objects\nmsg.payload = [{topic: \"Sin\", data: dataPoints1},\n                {topic: \"Triangle\", data: dataPoints2}];\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":177.5333251953125,"wires":[["a328de1a.68235","1351f2cb.8bf34d"]]},{"id":"c838dd88.04c91","type":"ui_button","z":"d654dac8.bb9c38","name":"New Data Button","group":"4534c054.f6959","order":0,"width":0,"height":0,"passthru":false,"label":"New Data","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":136.99998474121094,"y":179.18333435058594,"wires":[["c80a3ecf.6cf1d"]]},{"id":"e1347140.236d9","type":"ui_button","z":"d654dac8.bb9c38","name":"Reset","group":"4534c054.f6959","order":0,"width":0,"height":0,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Reset","x":173,"y":234.18331909179688,"wires":[["c80a3ecf.6cf1d"]]},{"id":"4a03a09e.1d46d","type":"ui_button","z":"1ca85043.0aadd","name":"","group":"7afd5efb.14c1d","order":1,"width":0,"height":0,"passthru":false,"label":"retrieve forecast","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":127,"y":72,"wires":[["bb450ef5.470fa"]]},{"id":"930e40c9.c72ee","type":"comment","z":"808529ff.a7d9e8","name":"Todo","info":"* we must restart the snmp service from time to time.\n* \nFollowing commands can be used to check the snmp output:\n```snmpwalk -Os -c public -v 2c 192.168.1.133 1.3.6.1.2.1.25.4.2```\n```snmpwalk -Os -c public -v 2c 192.168.1.131 1.3.6.1.4.1.2021.9.1```\n","x":130,"y":20,"wires":[]},{"id":"c30a06e0.666668","type":"sqlite","z":"11fb55cc.40056a","mydb":"a6f897cb.32ac88","name":"insert device in nodered_pi3two sqlite db","x":392.1111145019531,"y":672.3333292007446,"wires":[["ba9f28ee.5bebc8","b41e5849.0b1888"]]},{"id":"8b8229d5.53fb88","type":"template","z":"11fb55cc.40056a","name":"sql: insert device","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO device ( name, type, floor, \n                     room, description, phase )\nVALUES ( '{{payload.name}}', '{{payload.type}}',        '{{payload.floor}}',\n         '{{payload.room}}', '{{payload.description}}', '{{payload.phase}}'   ) ;","output":"str","x":397.1111145019531,"y":629.3333292007446,"wires":[["a0194d0d.6d20a","c30a06e0.666668"]]},{"id":"a0194d0d.6d20a","type":"debug","z":"11fb55cc.40056a","name":"sql: insert device","active":true,"console":"false","complete":"topic","x":690.1111145019531,"y":627.3333292007446,"wires":[]},{"id":"ba9f28ee.5bebc8","type":"debug","z":"11fb55cc.40056a","name":"sqlite insert device response","active":true,"console":"false","complete":"true","x":716.1111145019531,"y":661.3333292007446,"wires":[]},{"id":"54bd6449.2d5d9c","type":"catch","z":"11fb55cc.40056a","name":"catch sqlite errors","scope":["c30a06e0.666668","16124f9e.db303"],"x":383.1111145019531,"y":743.3333292007446,"wires":[["5360fa9a.02cb04","424c2f8b.1a189"]]},{"id":"5c4601f1.acc7e","type":"ui_toast","z":"11fb55cc.40056a","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"Catch error","name":"popup sqlite error","x":813.1111145019531,"y":786.3333292007446,"wires":[[]]},{"id":"5360fa9a.02cb04","type":"change","z":"11fb55cc.40056a","name":"set payload and topic for sqlite error","rules":[{"t":"set","p":"payload","pt":"msg","to":"topic & ' ==> ' & error.message","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"sqlite error","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":542.1111145019531,"y":786.3333292007446,"wires":[["5c4601f1.acc7e"]]},{"id":"424c2f8b.1a189","type":"debug","z":"11fb55cc.40056a","name":"catch slqite errors","active":true,"console":"false","complete":"true","x":587.1111145019531,"y":745.3333292007446,"wires":[]},{"id":"b41e5849.0b1888","type":"change","z":"11fb55cc.40056a","name":"payload = device successfully inserted","rules":[{"t":"set","p":"payload","pt":"msg","to":"device successfully inserted","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"sqlite","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":749.1111145019531,"y":702.3333292007446,"wires":[["32ca94b5.8bee4c"]]},{"id":"32ca94b5.8bee4c","type":"ui_toast","z":"11fb55cc.40056a","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":999.1111145019531,"y":701.3333292007446,"wires":[[]]},{"id":"2f9ec7cb.b1c178","type":"template","z":"4bc424e5.d54ccc","name":"select devices for room","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select d.name from device d where d.room = '{{payload}}';","output":"str","x":268,"y":246,"wires":[["fa134ad8.747d88","2347a74a.600998"]]},{"id":"2347a74a.600998","type":"sqlite","z":"4bc424e5.d54ccc","mydb":"a6f897cb.32ac88","name":"nodered_pi2two.db","x":269,"y":289,"wires":[["54ef2b47.3efc14","94c4e0df.60352"]]},{"id":"14f1b671.dc310a","type":"sqlite","z":"4bc424e5.d54ccc","mydb":"a6f897cb.32ac88","name":"insert event in nodered_pi3two.db","x":951.5555419921875,"y":937.4445161819458,"wires":[["41e00271.96495c","7a28a660.0cb5b8","1e9134ea.b6fc6b","c8e78ef2.21d76"]]},{"id":"2d47396a.4ebc56","type":"debug","z":"4bc424e5.d54ccc","name":"insert event","active":true,"console":"false","complete":"true","x":1029.555576324463,"y":773.7777824401855,"wires":[]},{"id":"29bf2006.c85bb","type":"template","z":"4bc424e5.d54ccc","name":"sql insert event","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/* an example of input msg.payload =\n   {\"room\":\"garage\",\n    \"device\":\"dev2\",\n    \"type\":\"switch on\",\n    \"time\":1500753955110,\n    \"before_powerset\":{\"timestamp\":1500753954340,\"total_power\":977,\"solar_power\":0,\"voltage\":255,\"phase1_power\":254,\"phase2_power\":303,\"phase3_power\":420},\n    \"first_powerset\" :{\"timestamp\":1500753964901,\"total_power\":974,\"solar_power\":0,\"voltage\":255,\"phase1_power\":250,\"phase2_power\":305,\"phase3_power\":419},\n    \"second_powerset\":{\"timestamp\":1500753975528,\"total_power\":761,\"solar_power\":0,\"voltage\":255,\"phase1_power\":253,\"phase2_power\":317,\"phase3_power\":191},\n    \"delta_phase1\":-1,\n    \"delta_phase2\":14,\n    \"delta_phase3\":-229}\n*/\n\ninsert into event( room, device, type, time, \n                   delta_phase1, delta_phase2, delta_phase3)\nvalues ( '{{payload.room}}' ,        '{{payload.device}}' ,     '{{payload.type}}',       '{{payload.time}}', \n         '{{payload.delta_phase1}}', '{{payload.delta_phase2}}','{{payload.delta_phase3}}' );\n   ","output":"str","x":824.6666107177734,"y":829.1110553741455,"wires":[["9880c823.8a6628","7fa9b259.6cc61c"]]},{"id":"9880c823.8a6628","type":"debug","z":"4bc424e5.d54ccc","name":"sql insert event","active":true,"console":"false","complete":"true","x":1036,"y":832,"wires":[]},{"id":"21fadecb.31d142","type":"template","z":"4bc424e5.d54ccc","name":"create powerset table if not exists","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CREATE TABLE IF NOT EXISTS powerset (\n   id integer primary key autoincrement,\n   event_id integer,\n   type integer, /* 0 = before, 1= first and 2 = second */\n   timestamp integer,\n   total_power integer,\n   solar_power integer,\n   phase1_power integer,\n   phase2_power integer,\n   phase3_power integer );\n","output":"str","x":513.3333435058594,"y":66.66665840148926,"wires":[["3a50e69.6e6de1a"]]},{"id":"2df2e6d3.da122a","type":"template","z":"4bc424e5.d54ccc","name":"create event table if not exists","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CREATE TABLE IF NOT EXISTS event (\n   id integer primary key autoincrement,\n   room text,\n   device text,\n   type text,\n   time integer,\n   delta_phase1 integer,\n   delta_phase2 integer,\n   delta_phase3 integer\n   );\n","output":"str","x":502.5555191040039,"y":25.55555534362793,"wires":[["3a50e69.6e6de1a"]]},{"id":"e402648e.b08a98","type":"inject","z":"4bc424e5.d54ccc","name":"trigger sqlite table creation","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":159,"y":58,"wires":[["21fadecb.31d142","2df2e6d3.da122a"]]},{"id":"3a50e69.6e6de1a","type":"sqlite","z":"4bc424e5.d54ccc","mydb":"a6f897cb.32ac88","name":"","x":829.0000610351562,"y":63.22223091125488,"wires":[["ffa2783e.d30368"]]},{"id":"ffa2783e.d30368","type":"debug","z":"4bc424e5.d54ccc","name":"sqlite event and powerset table creation","active":true,"console":"false","complete":"payload","x":975.5556106567383,"y":20,"wires":[]},{"id":"ba30758.a08b188","type":"template","z":"4bc424e5.d54ccc","name":"select events for device","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select *  from event e where e.device = '{{flow.event.device}}' and e.room =  '{{flow.event.room}}' ; ","output":"str","x":291.1111145019531,"y":973.3333053588867,"wires":[["89085a0d.20f538","bf9bea28.786798"]]},{"id":"bf9bea28.786798","type":"sqlite","z":"4bc424e5.d54ccc","mydb":"a6f897cb.32ac88","name":"nodered_pi3two.db","x":294.4444274902344,"y":1028.8888416290283,"wires":[["272b7a92.27d496","cc48b79e.792cb8"]]},{"id":"41e00271.96495c","type":"debug","z":"4bc424e5.d54ccc","name":"event insert response","active":true,"console":"false","complete":"true","x":1249.9998626708984,"y":934.4444808959961,"wires":[]},{"id":"80651cca.ecb83","type":"sqlite","z":"4bc424e5.d54ccc","mydb":"a6f897cb.32ac88","name":"insert powersets t into nodered_pi3two.db","x":1283.333158493042,"y":1063.3332443237305,"wires":[["716bb5fd.39c52c"]]},{"id":"7a28a660.0cb5b8","type":"template","z":"4bc424e5.d54ccc","name":"insert before powerset","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"insert into powerset ( event_id, type, timestamp, total_power, solar_power, phase1_power, phase2_power, phase3_power )\nselect s.seq, \n       0, /* before_powerset */\n       '{{payload2.before_powerset.timestamp}}',\n       '{{payload2.before_powerset.total_power}}',\n       '{{payload2.before_powerset.solar_power}}',\n       '{{payload2.before_powerset.phase1_power}}',\n       '{{payload2.before_powerset.phase2_power}}',\n       '{{payload2.before_powerset.phase3_power}}'\nfrom sqlite_sequence s\nwhere s.name = 'event' ;","output":"str","x":970.0000114440918,"y":1004.4444227218628,"wires":[["80651cca.ecb83","28b924a2.dabecc"]]},{"id":"28b924a2.dabecc","type":"debug","z":"4bc424e5.d54ccc","name":"insert before powerset","active":true,"console":"false","complete":"true","x":1229.999921798706,"y":1007.7778224945068,"wires":[]},{"id":"1e9134ea.b6fc6b","type":"template","z":"4bc424e5.d54ccc","name":"insert first powerset","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"insert into powerset ( event_id, type, timestamp, total_power, solar_power, phase1_power, phase2_power, phase3_power )\nselect s.seq, \n       1, /* first_powerset */\n       '{{payload2.first_powerset.timestamp}}',\n       '{{payload2.first_powerset.total_power}}',\n       '{{payload2.first_powerset.solar_power}}',\n       '{{payload2.first_powerset.phase1_power}}',\n       '{{payload2.first_powerset.phase2_power}}',\n       '{{payload2.first_powerset.phase3_power}}'\nfrom sqlite_sequence s\nwhere s.name = 'event' ;","output":"str","x":963.3332042694092,"y":1048.8887939453125,"wires":[["80651cca.ecb83"]]},{"id":"c8e78ef2.21d76","type":"template","z":"4bc424e5.d54ccc","name":"insert second powerset","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"insert into powerset ( event_id, type, timestamp, total_power, solar_power, phase1_power, phase2_power, phase3_power )\nselect s.seq, \n       2, /* second_powerset */\n       '{{payload2.second_powerset.timestamp}}',\n       '{{payload2.second_powerset.total_power}}',\n       '{{payload2.second_powerset.solar_power}}',\n       '{{payload2.second_powerset.phase1_power}}',\n       '{{payload2.second_powerset.phase2_power}}',\n       '{{payload2.second_powerset.phase3_power}}'\nfrom sqlite_sequence s\nwhere s.name = 'event' ;","output":"str","x":985.5554656982422,"y":1098.8888049125671,"wires":[["80651cca.ecb83"]]},{"id":"505b41db.9098d","type":"inject","z":"11fb55cc.40056a","name":"trigger device table creation","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":174.44444274902344,"y":62.22221660614014,"wires":[["3c5aa592.0958ba"]]},{"id":"3c5aa592.0958ba","type":"template","z":"11fb55cc.40056a","name":"create device table if not exists","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CREATE TABLE IF NOT EXISTS device (\n   id integer primary key autoincrement\n  ,name  text not null unique\n  ,type  text\n  ,floor text\n  ,room  text\n  ,description  text\n  ,phase        text\n  ,created_at integer(4) not null default (strftime('%s','now'))\n);\n","output":"str","x":475.55550384521484,"y":62.22221279144287,"wires":[["bf890ca.2053ef"]]},{"id":"bf890ca.2053ef","type":"sqlite","z":"11fb55cc.40056a","mydb":"a6f897cb.32ac88","name":"nodered_pi3two.db","x":758.8888511657715,"y":61.11110782623291,"wires":[[]]},{"id":"716bb5fd.39c52c","type":"debug","z":"4bc424e5.d54ccc","name":"result insert powerset","active":true,"console":"false","complete":"true","x":1245.5555801391602,"y":1111.111011505127,"wires":[]},{"id":"7fa9b259.6cc61c","type":"change","z":"4bc424e5.d54ccc","name":"set msg.payload2 = msg.payload","rules":[{"t":"set","p":"payload2","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":876.6667327880859,"y":893.3333005905151,"wires":[["14f1b671.dc310a"]]},{"id":"9439dfb8.46439","type":"http in","z":"62fe77b3.0d8338","name":"get ip address","url":"ip","method":"get","upload":false,"swaggerDoc":"","x":179,"y":315,"wires":[["1a419ebc.423681","f31ffb38.6e5d38"]]},{"id":"1a419ebc.423681","type":"http response","z":"62fe77b3.0d8338","name":"","statusCode":"","headers":{},"x":425,"y":316,"wires":[]},{"id":"f31ffb38.6e5d38","type":"debug","z":"62fe77b3.0d8338","name":"get ip address","active":true,"console":"false","complete":"true","x":305,"y":254,"wires":[]},{"id":"43cd86aa.c4f388","type":"websocket in","z":"62fe77b3.0d8338","name":"/ws/ip","server":"29219b69.f281c4","client":"","x":121.5,"y":435,"wires":[["5169ece1.eb8b94","22d85a51.e0bfe6"]]},{"id":"5169ece1.eb8b94","type":"websocket out","z":"62fe77b3.0d8338","name":"","server":"29219b69.f281c4","client":"","x":360.5,"y":437,"wires":[]},{"id":"22d85a51.e0bfe6","type":"debug","z":"62fe77b3.0d8338","name":"","active":true,"console":"false","complete":"true","x":225,"y":388,"wires":[]},{"id":"a6724151.cb301","type":"tcp in","z":"62fe77b3.0d8338","name":"ip","server":"server","host":"","port":"9999","datamode":"stream","datatype":"buffer","newline":"","topic":"ip","base64":false,"x":152.5,"y":533,"wires":[["d218a4ae.cf22f8"]]},{"id":"d218a4ae.cf22f8","type":"debug","z":"62fe77b3.0d8338","name":"ip","active":true,"console":"false","complete":"true","x":324,"y":491,"wires":[]},{"id":"c513b1b0.85a0f","type":"ui_template","z":"11a7a585.60122a","group":"dd33242a.fe2ca8","name":"scratch iframe","order":0,"width":"10","height":"10","format":"","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":752,"y":106,"wires":[["435f2dfc.7098e4"]]},{"id":"1e7ce242.97559e","type":"template","z":"11a7a585.60122a","name":"scratch iframe","field":"template","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" <iframe allowtransparency=\"true\" width=\"485\" height=\"402\" src=\"//scratch.mit.edu/projects/embed/169990259/?autostart=false\" frameborder=\"0\" allowfullscreen></iframe>\n\n    ","output":"str","x":460,"y":104,"wires":[["c513b1b0.85a0f","8598472e.803068"]]},{"id":"f2f3b5cf.9fb2a8","type":"inject","z":"11a7a585.60122a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":226,"y":111,"wires":[["1e7ce242.97559e"]]},{"id":"8598472e.803068","type":"debug","z":"11a7a585.60122a","name":"","active":false,"console":"false","complete":"true","x":595,"y":41,"wires":[]},{"id":"435f2dfc.7098e4","type":"debug","z":"11a7a585.60122a","name":"","active":true,"console":"false","complete":"true","x":858,"y":34,"wires":[]},{"id":"3c4371bf.c83f4e","type":"function","z":"cf01c82.351d938","name":"","func":"var m={};\nm.labels = [\"January\", \"February\", \"March\", \"April\", \"May\", \"June\", \"July\"];\nm.series = ['Series A', 'Series B', 'Series C'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20]\n  ];\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":270,"y":380,"wires":[["12ed3c66.408674","6177296.a4146d8","db3175ce.8b2c18","93bb3bd3.86a678"]]},{"id":"12ed3c66.408674","type":"ui_chart","z":"cf01c82.351d938","name":"","group":"1b19926f.3267ce","order":1,"width":0,"height":0,"label":"line chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":540,"y":120,"wires":[[],[]]},{"id":"f23d03d1.a9758","type":"function","z":"cf01c82.351d938","name":"","func":"var chart2 = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n    \"data\":[[{\"x\":1504029632890,\"y\":5},{\"x\":1504029636001,\"y\":4},{\"x\":1504029638656,\"y\":2}],[{\"x\":1504029633514,\"y\":6},{\"x\":1504029636622,\"y\":7},{\"x\":1504029639539,\"y\":6}],[{\"x\":1504029634400,\"y\":7},{\"x\":1504029637959,\"y\":9},{\"x\":1504029640317,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\n\n\nvar chart = [{\n    \"series\":[\"A\",\"B\"],\n    \"data\":[[{\"x\":1506844800000,\"y\":13},{\"x\":1506844800000,\"y\":0}],[{\"x\":1506852000000,\"y\":15},{\"x\":1506852000000,\"y\":0}],[{\"x\":1506855600000,\"y\":15},{\"x\":1506855600000,\"y\":0}]],\n    \"labels\":[\"\"]\n}];\n\nmsg.payload = chart2;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":220,"wires":[["12ed3c66.408674"]]},{"id":"41af72ce.86ffcc","type":"ui_button","z":"cf01c82.351d938","name":"","group":"c295f893.ac7348","order":1,"width":0,"height":0,"passthru":false,"label":"Time Line 1","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":220,"wires":[["f23d03d1.a9758"]]},{"id":"6177296.a4146d8","type":"ui_chart","z":"cf01c82.351d938","name":"","group":"1b19926f.3267ce","order":2,"width":0,"height":0,"label":"bar chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":540,"y":180,"wires":[[],[]]},{"id":"f5808f9f.a5cef","type":"ui_button","z":"cf01c82.351d938","name":"","group":"c295f893.ac7348","order":5,"width":0,"height":0,"passthru":false,"label":"array","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":380,"wires":[["3c4371bf.c83f4e"]]},{"id":"9d7d9b62.276578","type":"random","z":"cf01c82.351d938","name":"","low":"1","high":"10000000","inte":"true","x":300,"y":580,"wires":[["12ed3c66.408674"]]},{"id":"19746589.92f23a","type":"inject","z":"cf01c82.351d938","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":580,"wires":[["9d7d9b62.276578"]]},{"id":"1b7fbcaf.287133","type":"function","z":"cf01c82.351d938","name":"","func":"var m={};\nm.labels = [10,20,30,40,50,60,70];\nm.series = ['Series A', 'Series B', 'Series C', 'Series D'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20],\n    [58, 18, 40, 29, 15, 30, 60]\n  ];\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":270,"y":420,"wires":[["12ed3c66.408674","6177296.a4146d8","db3175ce.8b2c18","93bb3bd3.86a678"]]},{"id":"492e93bd.b6c28c","type":"ui_button","z":"cf01c82.351d938","name":"","group":"c295f893.ac7348","order":6,"width":0,"height":0,"passthru":false,"label":"array2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":420,"wires":[["1b7fbcaf.287133"]]},{"id":"5bb5ee5b.cc3be","type":"function","z":"cf01c82.351d938","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1,\"y\":5},{\"x\":2,\"y\":4},{\"x\":3,\"y\":2}],[{\"x\":4,\"y\":6},{\"x\":5,\"y\":7},{\"x\":6,\"y\":6}],[{\"x\":7,\"y\":7},{\"x\":8,\"y\":9},{\"x\":9,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":260,"wires":[["12ed3c66.408674"]]},{"id":"ec20afbf.717f7","type":"ui_button","z":"cf01c82.351d938","name":"","group":"c295f893.ac7348","order":2,"width":0,"height":0,"passthru":false,"label":"Time Line 2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":260,"wires":[["5bb5ee5b.cc3be"]]},{"id":"958b602b.0b649","type":"function","z":"cf01c82.351d938","name":"","func":"var m = {};\nm.labels = [\"Download\", \"In-Store\", \"Mail-Order\"];\nm.data = [[300, 500, 100]];\nm.series = [\"Sales\"];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"x":290,"y":620,"wires":[["93bb3bd3.86a678","6177296.a4146d8","12ed3c66.408674","bfe7e91b.3140f8","232e8a75.1cb9b6","db3175ce.8b2c18"]]},{"id":"93bb3bd3.86a678","type":"ui_chart","z":"cf01c82.351d938","name":"pie chart","group":"1b19926f.3267ce","order":3,"width":0,"height":0,"label":"pie chart","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":580,"y":360,"wires":[[],[]]},{"id":"147751d5.faa45e","type":"ui_button","z":"cf01c82.351d938","name":"","group":"c295f893.ac7348","order":10,"width":0,"height":0,"passthru":false,"label":"array for pie","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Pie 4 T","x":130,"y":620,"wires":[["958b602b.0b649"]]},{"id":"acd1a7e3.369eb8","type":"function","z":"cf01c82.351d938","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1000000,\"y\":5},{\"x\":2000000,\"y\":4},{\"x\":3000000,\"y\":2}],[{\"x\":4000000,\"y\":6},{\"x\":5000000,\"y\":7},{\"x\":6000000,\"y\":6}],[{\"x\":7000000,\"y\":7},{\"x\":8000000,\"y\":9},{\"x\":9000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":300,"wires":[["12ed3c66.408674"]]},{"id":"2cd6b923.806c56","type":"ui_button","z":"cf01c82.351d938","name":"","group":"c295f893.ac7348","order":3,"width":0,"height":0,"passthru":false,"label":"Time Line 3","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":300,"wires":[["acd1a7e3.369eb8"]]},{"id":"f64fb10c.c943a","type":"function","z":"cf01c82.351d938","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1000000000,\"y\":5},{\"x\":2000000000,\"y\":4},{\"x\":3000000000,\"y\":2}],[{\"x\":4000000000,\"y\":6},{\"x\":5000000000,\"y\":7},{\"x\":6000000000,\"y\":6}],[{\"x\":7000000000,\"y\":7},{\"x\":8000000000,\"y\":9},{\"x\":9000000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":340,"wires":[["12ed3c66.408674"]]},{"id":"dcfe81eb.fa3f7","type":"ui_button","z":"cf01c82.351d938","name":"","group":"c295f893.ac7348","order":4,"width":0,"height":0,"passthru":false,"label":"Time Line 4","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":340,"wires":[["f64fb10c.c943a"]]},{"id":"3591ce62.4cbe72","type":"function","z":"cf01c82.351d938","name":"","func":"var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5,6,9],[3,8,5],[6,7,2]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":270,"y":540,"wires":[["12ed3c66.408674","6177296.a4146d8","93bb3bd3.86a678","bfe7e91b.3140f8","232e8a75.1cb9b6","db3175ce.8b2c18"]]},{"id":"e19e7d1c.a0417","type":"ui_button","z":"cf01c82.351d938","name":"","group":"c295f893.ac7348","order":9,"width":0,"height":0,"passthru":false,"label":"array3c","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":540,"wires":[["3591ce62.4cbe72"]]},{"id":"cb6c7e4c.da04d","type":"ui_button","z":"cf01c82.351d938","name":"","group":"c295f893.ac7348","order":11,"width":0,"height":0,"passthru":false,"label":"array 2 for pie","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Pie Hole","x":140,"y":660,"wires":[["608408f1.104258"]]},{"id":"608408f1.104258","type":"function","z":"cf01c82.351d938","name":"","func":"var m = {};\nm.labels = ['2006', '2007', '2008', '2009', '2010', '2011', '2012'];\nm.data = [[28, 48, 40, 19, 86, 27, 90]];\nm.series = ['Series A'];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"x":290,"y":660,"wires":[["93bb3bd3.86a678","6177296.a4146d8","232e8a75.1cb9b6","bfe7e91b.3140f8","12ed3c66.408674","db3175ce.8b2c18"]]},{"id":"d72e0877.b8e838","type":"function","z":"cf01c82.351d938","name":"topic","func":"var m = [\n    {topic:\"X\", payload:22},\n    {topic:\"Y\", payload:66},\n    {topic:\"Z\", payload:42}\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":270,"y":180,"wires":[["6177296.a4146d8","93bb3bd3.86a678","12ed3c66.408674","db3175ce.8b2c18"]]},{"id":"33354b7c.b6ba84","type":"inject","z":"cf01c82.351d938","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":180,"wires":[["d72e0877.b8e838"]]},{"id":"8f892e5d.cfe2d","type":"function","z":"cf01c82.351d938","name":"label","func":"var m = [\n    {label:\"A\", payload:22},\n    {label:\"B\", payload:66},\n    {label:\"C\", payload:42},\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":270,"y":140,"wires":[["6177296.a4146d8","93bb3bd3.86a678","12ed3c66.408674","db3175ce.8b2c18"]]},{"id":"cf166d4f.8d4fe","type":"inject","z":"cf01c82.351d938","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":140,"wires":[["8f892e5d.cfe2d"]]},{"id":"2358aa35.37c1e6","type":"function","z":"cf01c82.351d938","name":"","func":"var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5],[3],[6]],\n    \"labels\":[\"Jan\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":270,"y":460,"wires":[["6177296.a4146d8","bfe7e91b.3140f8","232e8a75.1cb9b6","12ed3c66.408674","db3175ce.8b2c18","93bb3bd3.86a678"]]},{"id":"9c376455.b42ed8","type":"ui_button","z":"cf01c82.351d938","name":"","group":"c295f893.ac7348","order":7,"width":0,"height":0,"passthru":false,"label":"array3a","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":460,"wires":[["2358aa35.37c1e6"]]},{"id":"837191e0.0754f","type":"function","z":"cf01c82.351d938","name":"","func":"var m={\n    \"series\":[\"X\"],\n    \"data\":[[5,3,6]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":270,"y":500,"wires":[["6177296.a4146d8","12ed3c66.408674","232e8a75.1cb9b6","bfe7e91b.3140f8","db3175ce.8b2c18","93bb3bd3.86a678"]]},{"id":"cafb084a.03a408","type":"ui_button","z":"cf01c82.351d938","name":"","group":"c295f893.ac7348","order":8,"width":0,"height":0,"passthru":false,"label":"array3b","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":500,"wires":[["837191e0.0754f"]]},{"id":"db3175ce.8b2c18","type":"ui_chart","z":"cf01c82.351d938","name":"","group":"b2b687ea.a78a88","order":2,"width":0,"height":0,"label":"horizontal bar","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":560,"y":240,"wires":[[],[]]},{"id":"bfe7e91b.3140f8","type":"ui_chart","z":"cf01c82.351d938","name":"","group":"b2b687ea.a78a88","order":3,"width":0,"height":0,"label":"polar chart","chartType":"polar-area","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":590,"y":480,"wires":[[],[]]},{"id":"232e8a75.1cb9b6","type":"ui_chart","z":"cf01c82.351d938","name":"","group":"b2b687ea.a78a88","order":4,"width":0,"height":0,"label":"radar chart","chartType":"radar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":590,"y":540,"wires":[[],[]]},{"id":"618a99fc.577e88","type":"function","z":"cf01c82.351d938","name":"label","func":"var m = [\n    {label:\"A\", payload:22, series:\"X\"},\n    {label:\"B\", payload:66, series:\"X\"},\n    {label:\"C\", payload:42, series:\"X\"},\n    {label:\"A\", payload:33, series:\"Y\"},\n    {label:\"B\", payload:72, series:\"Y\"},\n    {label:\"C\", payload:12, series:\"Y\"},\n    {label:\"A\", payload:44, series:\"Z\"},\n    {label:\"B\", payload:32, series:\"Z\"},\n    {label:\"C\", payload:80, series:\"Z\"}\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":270,"y":100,"wires":[["93bb3bd3.86a678","6177296.a4146d8","12ed3c66.408674","db3175ce.8b2c18"]]},{"id":"10cb235f.f199bd","type":"inject","z":"cf01c82.351d938","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":100,"wires":[["618a99fc.577e88"]]},{"id":"c3eef59e.be33e8","type":"ui_button","z":"cf01c82.351d938","name":"","group":"c295f893.ac7348","order":11,"width":0,"height":0,"passthru":false,"label":"Clear All","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":260,"y":60,"wires":[["232e8a75.1cb9b6","bfe7e91b.3140f8","93bb3bd3.86a678","db3175ce.8b2c18","6177296.a4146d8","12ed3c66.408674"]]},{"id":"d31a2c8b.cfaa6","type":"ui_button","z":"cebbdfd7.b6d0a","name":"","group":"2e7e5f42.04104","order":1,"width":0,"height":0,"passthru":false,"label":"Time Line 1","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":160,"wires":[["80cc2c2a.cd21d"]]},{"id":"80cc2c2a.cd21d","type":"function","z":"cebbdfd7.b6d0a","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n    \"data\":[[{\"x\":1504029632890,\"y\":5},{\"x\":1504029636001,\"y\":4},{\"x\":1504029638656,\"y\":2}],[{\"x\":1504029633514,\"y\":6},{\"x\":1504029636622,\"y\":7},{\"x\":1504029639539,\"y\":6}],[{\"x\":1504029634400,\"y\":7},{\"x\":1504029637959,\"y\":9},{\"x\":1504029640317,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\n\n\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":160,"wires":[["b6b263e4.878bc"]]},{"id":"b6b263e4.878bc","type":"ui_chart","z":"cebbdfd7.b6d0a","name":"","group":"dfed6faf.8b4ab","order":1,"width":0,"height":0,"label":"correctly displayed line chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":500,"y":160,"wires":[[],[]]},{"id":"550b9def.9f5824","type":"ui_button","z":"cebbdfd7.b6d0a","name":"","group":"2e7e5f42.04104","order":1,"width":0,"height":0,"passthru":false,"label":"Time Line 2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":240,"wires":[["92987e90.26c43"]]},{"id":"92987e90.26c43","type":"function","z":"cebbdfd7.b6d0a","name":"","func":"\nvar chart = [{\n    \"series\":[\"A\",\"B\"],\n    \"data\":[[{\"x\":1506844800000,\"y\":13},{\"x\":1506844800000,\"y\":5}],[{\"x\":1506852000000,\"y\":15},{\"x\":1506852000000,\"y\":9}],[{\"x\":1506855600000,\"y\":15},{\"x\":1506855600000,\"y\":8}]],\n    \"labels\":[\"\"]\n}];\n\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":240,"wires":[["5722a62a.d0f808"]]},{"id":"5722a62a.d0f808","type":"ui_chart","z":"cebbdfd7.b6d0a","name":"","group":"dfed6faf.8b4ab","order":1,"width":0,"height":0,"label":"not correctly displayed line chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":510,"y":240,"wires":[[],[]]},{"id":"622eb770.7a39b8","type":"ui_template","z":"cf01c82.351d938","group":"f1577d10.1161c","name":"","order":0,"width":"11","height":"13","format":"<div id=\"openweathermap-widget-15\"></div>\n<script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];  window.myWidgetParam.push({id: 15,cityid: '2643743',appid: '4b7c8ef8c144e7d2a3126d4727d44fb7',units: 'metric',containerid: 'openweathermap-widget-15',  });  (function() {var script = document.createElement('script');script.async = true;script.charset = \"utf-8\";script.src = \"https://openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js\";var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(script, s);  })();</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":822,"y":164,"wires":[[]]},{"id":"cd6b34a0.455be8","type":"debug","z":"808529ff.a7d9e8","name":"","active":false,"console":"false","complete":"true","x":530,"y":620,"wires":[]},{"id":"56043d48.29d794","type":"debug","z":"808529ff.a7d9e8","name":"","active":false,"console":"false","complete":"true","x":620,"y":488,"wires":[]},{"id":"a6c67e92.6010c","type":"inject","z":"b89dea47.aef4c8","name":"initialisation at startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":180,"y":80,"wires":[["6e5d15b7.9308dc"]]},{"id":"6e5d15b7.9308dc","type":"change","z":"b89dea47.aef4c8","name":"initialize flow variables","rules":[{"t":"set","p":"aircon_is_on","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"aircon_last_switch_tms","pt":"flow","to":"0","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":80,"wires":[[]]},{"id":"6cffa62b.a86408","type":"inject","z":"b89dea47.aef4c8","name":"","topic":"","payload":"19","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":200,"wires":[["61d725f0.fafffc"]]},{"id":"9e7a2644.594cc8","type":"comment","z":"b89dea47.aef4c8","name":"inject nodes simulating the DS18b20 sensor output","info":"","x":210,"y":140,"wires":[]},{"id":"c1161ee7.d1f09","type":"inject","z":"b89dea47.aef4c8","name":"","topic":"","payload":"20","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":240,"wires":[["61d725f0.fafffc"]]},{"id":"a2de20fe.f5bf4","type":"inject","z":"b89dea47.aef4c8","name":"","topic":"","payload":"21","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":280,"wires":[["61d725f0.fafffc"]]},{"id":"b9824bc6.9aedc8","type":"inject","z":"b89dea47.aef4c8","name":"","topic":"","payload":"24","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":320,"wires":[["61d725f0.fafffc"]]},{"id":"ab1144f0.6c42f8","type":"inject","z":"b89dea47.aef4c8","name":"","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":360,"wires":[["61d725f0.fafffc"]]},{"id":"bdb06dad.63651","type":"inject","z":"b89dea47.aef4c8","name":"","topic":"","payload":"26","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":400,"wires":[["61d725f0.fafffc"]]},{"id":"be827198.abe4","type":"change","z":"b89dea47.aef4c8","name":"set flow context and payload to switch off aircon","rules":[{"t":"set","p":"aircon_is_on","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"aircon_last_switch_tms","pt":"flow","to":"","tot":"date"},{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":220,"wires":[["78bb439a.bb7c3c"]]},{"id":"61d725f0.fafffc","type":"switch","z":"b89dea47.aef4c8","name":"aircon is on ?","property":"aircon_is_on","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":300,"wires":[["a510e341.9053"],["63a6dce9.1cd664"]]},{"id":"a510e341.9053","type":"switch","z":"b89dea47.aef4c8","name":"temp <= 20 ?","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"20","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":220,"wires":[["be827198.abe4"]]},{"id":"78bb439a.bb7c3c","type":"debug","z":"b89dea47.aef4c8","name":"aircon command to switch it on / off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1400,"y":280,"wires":[]},{"id":"63a6dce9.1cd664","type":"switch","z":"b89dea47.aef4c8","name":"temp >= 25 ?","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"25","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":320,"wires":[["d4bac5d3.96a0f8"]]},{"id":"d4bac5d3.96a0f8","type":"switch","z":"b89dea47.aef4c8","name":"switch on / off more than 10 minutes ago ?","property":"($toMillis($now())-$flowContext(\"aircon_last_switch_tms\")) > (10*60*1000)","propertyType":"jsonata","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":700,"y":380,"wires":[["c2212f63.1669"]]},{"id":"c2212f63.1669","type":"change","z":"b89dea47.aef4c8","name":"set flow context and payload to switch off aircon","rules":[{"t":"set","p":"aircon_is_on","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"aircon_last_switch_tms","pt":"flow","to":"","tot":"date"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":380,"wires":[["78bb439a.bb7c3c"]]},{"id":"de70420a.9434c","type":"debug","z":"b89dea47.aef4c8","name":"flow.aircon_last_switch_tms  (in milli seconds since 1970)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":540,"wires":[]},{"id":"566b6090.132f6","type":"inject","z":"b89dea47.aef4c8","name":"flow.aircon_last_switch_tms","topic":"","payload":"aircon_last_switch_tms","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":540,"wires":[["de70420a.9434c","e27646c9.667128"]]},{"id":"dd4590ca.74dc8","type":"debug","z":"b89dea47.aef4c8","name":"flow.aircon_last_switch_tms","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":640,"y":600,"wires":[]},{"id":"e27646c9.667128","type":"change","z":"b89dea47.aef4c8","name":"$fromMillis(payload)","rules":[{"t":"set","p":"payload","pt":"msg","to":"$fromMillis(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":600,"wires":[["dd4590ca.74dc8"]]},{"id":"cf7ec970.dc7428","type":"comment","z":"b89dea47.aef4c8","name":"test nodes to check the aircon flow context variables","info":"","x":227,"y":462,"wires":[]},{"id":"b25f8b75.54f588","type":"inject","z":"b89dea47.aef4c8","name":"","topic":"","payload":"aircon_is_on","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":169,"y":499,"wires":[["5187c6db.ec2c38"]]},{"id":"5187c6db.ec2c38","type":"debug","z":"b89dea47.aef4c8","name":"flow.aircon_is_on","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":500,"wires":[]},{"id":"e91536b1.632888","type":"comment","z":"b89dea47.aef4c8","name":"output to switch on /off aircon","info":"","x":1360,"y":100,"wires":[]},{"id":"171be0fd.6d219f","type":"comment","z":"b89dea47.aef4c8","name":"aircon flow context variables","info":"This flow makes use of 2 flow context variables:\n1. *aircon_is_on* : is a boolean indicating if the aircon is currently switched on or off.\n2. *aircon_last_switch_tms* : is a timestamp (expressed in number of milli seconds since 1970) of the last time the aircon has been switch on or off.","x":453,"y":26,"wires":[]}]